%table.table.table-hover.table-nonfluid
  %thead
    %tr
      %th #
      %th First Name
      %th Last Name
      %th Email
      %th Birthday
      %th Twitter account
      %th Company name
      %th Description
      %th Function
      %th URL
      - if admin_panel
        %th Actions
  %tbody
    - @individuals.each do |individual|
      %tr
        %td
          = image_tag individual.attachment.url(:small)
        %td
          = individual.first_name
        %td 
          = individual.last_name
        %td
          = individual.email
        %td
          = individual.birthday
        %td
          = individual.twitter_account
        %td
          = individual.company_name
        %td
          = individual.description
        %td
          = individual.function
        %td
          = individual.url
        %td 
          = link_to 'Show', individual_path(individual)
          - if admin_panel
            %br
            = link_to 'Edit', edit_individual_path(individual)
            %br
            = link_to 'Delete', individual_path(individual), 'data-method' => :delete, :confirm => 'Are you sure ?'        