#container.container-fluid.triangles
  #output.triangles
  .container
    .main-section{style: "padding-top:7%;"}
      .row
        #head_logo
          = image_tag "/assets/logo-fest-2016-white.svg", :style => "height:250px;margin-top:20px"
      .row
        .col-md-10.col-md-offset-1
          %h1.main-title{:style => "color:#ffffff"}
            = t('dynamic_translations.main.title')
        .col-md-8.col-md-offset-2
          %p.main-section-paragraphes.white
            = t('dynamic_translations.main.date')

      = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
        .row.text-center
          .col-md-offset-3.col-md-4
            = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
          .col-md-2.btn-pink.submit-email-button
            = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-pink", :style => "padding: 9px 12px 10px;"

      .row
        .col-md-8.col-md-offset-2
          %br
          %br
          %p.centered.join_bouton
            %a{:href => 'join#_tickets'}
              %button.btn.btn-embossed.btn-primary
                = t('dynamic_translations.reminder_ticket.getyourtickets')
#controls.controls

= javascript_include_tag 'triangles'


.program-part
  .container
    .main-section
      .row.centered
        .col-md-10.col-md-offset-1
          %h3.ouishare_stencil
            Sched speakers test view
          %hr.pink
          %br
          %br

      .row.centered
        %a#sched-embed{:href => "http://ouisharefestparis2016.sched.org/directory/speakers"}
        %script{:type => "text/javascript", :src => "http://ouisharefest2015.sched.org/js/embed.js"}

.tickets.blank_bg
  .container.tickets-section
    .row.centered{:style => "padding-top:0; padding-bottom:0"}
      .col-md-10.col-md-offset-1.col-sm-12
        %h3.ouishare_stencil.centered
          = t('dynamic_translations.tickets.title')
        %hr.pink
        %br
        %br
        %p.pink
          = t('dynamic_translations.tickets.description1')
          %a{href: "/join#_getinvolved"}
            = t('dynamic_translations.tickets.get_involved')
        .row.tickets-table
          .col-md-2.col-md-offset-8.col-xs-6.col-xs-offset-0.title-blue
            Pioneers
          .col-md-2.col-xs-6.title-blue
            Explorers
          .col-md-12.title
            Core Features
          .col-md-8.col-sm-12
            Access to full conference site
          .col-md-2.col-xs-6
            V
          .col-md-2.col-xs-6
            V
          .col-md-8
            Food & drinks all day (soft only)
          .col-md-2.col-xs-6
            V
          .col-md-2.col-xs-6
            V
          .col-md-8
            Invitations to special satellite events by partners
          .col-md-2.col-xs-6
            V
          .col-md-2.col-xs-6
            V
          .col-md-8
            Access to OuiShare Love Party (Friday 20/05)
          .col-md-2.col-xs-6
            V
          .col-md-2.col-xs-6
            V
          .col-md-8
            List of all participants (pdf)
          .col-md-2.col-xs-6
            V
          .col-md-2.col-xs-6
            V
          .col-md-12.title
            Extended Features: to help you navigate the Fest
          .col-md-8
            Access to speakers' reception (Tuesday 17/05)
          .col-md-2.col-xs-6
            &nbsp;
          .col-md-2.col-xs-6
            V
          .col-md-8
            A personal guide to: 
            %br
            Welcome you
            %br
            Facilitate connections with other attendees, speakers and partners
            %br
            Advise you on which sessions best match your interests
          .col-md-2.col-xs-6
            &nbsp;
          .col-md-2.col-xs-6
            V
          .col-md-8
            3 hour preparation workshop or webinar: introduction to OuiShare Fest
          .col-md-2.col-xs-6
            &nbsp;
          .col-md-2.col-xs-6
            V
          .col-md-8
            Your copy of the book 
            %em
              Collaborative Society
          .col-md-2.col-xs-6
            &nbsp;
          .col-md-2.col-xs-6
            V
        %p.left
          For questions about Explorer tickets and group discounts, email 
          %b
            %a{:href => 'mailto:partners@ouisharefest.com'}
              partners@ouisharefest.com
        %br
        %p.text-center
          = image_tag("2016-tickets-#{I18n.locale}-05.png", width: "100%", alt: "Ticket options")
        %br
        %br


