/ #container.container-fluid.triangles
/   #output.triangles
/   .container
/     .main-section{style: "padding-top:7%;"}
/       .row
/         #head_logo
/           = image_tag "/assets/logo-fest-2016-white.svg", :style => "height:250px;margin-top:20px"
/       .row
/         .col-md-10.col-md-offset-1
/           %h1.main-title{:style => "color:#ffffff"}
/             = t('dynamic_translations.main.title')
/         .col-md-8.col-md-offset-2
/           %p.main-section-paragraphes.white
/             = t('dynamic_translations.main.date')

/       = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
/         .row.text-center
/           .col-md-offset-3.col-md-4
/             = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
/           .col-md-2.btn-pink.submit-email-button
/             = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-pink", :style => "padding: 9px 12px 10px;"

/       .row
/         .col-md-8.col-md-offset-2
/           %br
/           %br
/           %p.centered.join_bouton
/             %a{:href => 'join#_tickets'}
/               %button.btn.btn-embossed.btn-primary
/                 = t('dynamic_translations.reminder_ticket.getyourtickets')
/ #controls.controls

/ = javascript_include_tag 'triangles'


.triangle_bg_3.white_txt.vspace
  .container
    .row.centered
      .col-md-10.col-md-offset-1
        %h3.ouishare_stencil
          = t('dynamic_translations.main_schedule.title')
        %hr.pink
        %br
        %br
      .col-md-8.col-md-offset-2
        %p
          = t('dynamic_translations.main_schedule.second_part')
      .col-md-6.col-md-offset-3.btn-space
        %a{href: "/join#_getinvolved"}
          %button.btn.btn-large.btn-primary
            = t('dynamic_translations.get_involved.title')
    .row.centered
      .col-md-10.col-md-offset-1
        %h3.ouishare_stencil
          = t('dynamic_translations.main_schedule.program_structure')
        %hr.pink
        %br
        %br
      .col-md-8.col-md-offset-2
        %p
          / = t('dynamic_translations.main_schedule.program_structure_text')
          This year the OuiShare Fest will focus on 6 main macro-topics, exploring two macro-topics per day. The first day will focus on the systemic level, the second on the organisational level and the third on the individual level, exploring these levels and each macro-topic through the lens of a particular question. To foster connection and avoid siloed thinking, all sessions will explore intersections between two or more topics. To make the event as open and relevant as possible to the wide range of participants, this year sessions will be labelled clearly according to the level of expertise required to best enjoy each session.
        %br
        %br
    .row.centered
      .col-md-10.col-md-offset-1.col-sm-12
        .tickets-table.program-structure
          .row
            .col-md-12.title-inverse
              %h4.blue
                DAY 1
            .col-md-12
              %h5
                18/05. 8.30 - 19.00
              %h6
                Question of the Day
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track
          .row
            .col-md-12.title-inverse
              %h4.violet
                DAY 2
            .col-md-12
              %h5
                19/05. 8.30 - 19.00
              %h6
                Question of the Day
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track
          .row
            .col-md-12.title-inverse
              %h4.fandango
                DAY 3
            .col-md-12
              %h5
                20/05. 13.00 - 21.00
              %h5
                Question of the Day
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track
            .col-md-12
              %h4.white
                OuiShare Love Party
          .row
            .col-md-12.title-inverse
              %h4.purple
                Public day
            .col-md-12
              %h5
                20/05. 13.00 - 21.00
              %h5
                Question of the Day
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track
            .col-sm-6
              %h5
                Decentralization and blockchain
              %p
                More specific question of the track



    .row.centered#_schedule
      %br
      %br
      %img{:src => '/assets/2016-schedule-en.png', :alt => 'Main schedule', :style => "max-width: 100%"}
      / %a#sched-embed{:href => "http://ouisharefestparis2016.sched.org/grid/"}
      / %script{:type => "text/javascript", :src => "http://ouisharefestparis2016.sched.org/js/embed.js"}

.tickets.triangle_bg_4.white_txt.vspace
  .container.tickets-section
    .row.centered{:style => "padding-top:0; padding-bottom:0"}
      .col-md-10.col-md-offset-1.col-sm-12
        %h3.ouishare_stencil.centered
          = t('dynamic_translations.tickets.title')
        %hr.pink
        %br
        %br
        %p
          = t('dynamic_translations.tickets.description1')
          %a{href: "/join#_getinvolved"}
            = t('dynamic_translations.tickets.get_involved')
        .tickets-table
          .row
            .col-md-2.col-md-offset-8.col-xs-6.col-xs-offset-0.title-blue
              = t('dynamic_translations.tickets_table.pioneers')
            .col-md-2.col-xs-6.title-blue
              = t('dynamic_translations.tickets_table.explorers')
          .tickets-border
            .row
              .col-md-12.title-inverse
                = t('dynamic_translations.tickets_table.core_features')
            .row
              .col-md-8.col-sm-12
                = t('dynamic_translations.tickets_table.core_1_access')
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-8
                = t('dynamic_translations.tickets_table.core_2_food')
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-8
                = t('dynamic_translations.tickets_table.core_3_partner_events')
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-8
                = t('dynamic_translations.tickets_table.core_4_access_party')
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-8
                = t('dynamic_translations.tickets_table.core_5_participants_list')
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-12.title-inverse
                = t('dynamic_translations.tickets_table.extended_features')
              .col-md-8
                = t('dynamic_translations.tickets_table.ext_1_reception')
              .col-md-2.col-xs-6
                &nbsp;
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row.row-eq-height
              .col-md-8
                = t('dynamic_translations.tickets_table.ext_2') 
                %ul
                  %li
                    = t('dynamic_translations.tickets_table.ext_2a')
                  %li
                    = t('dynamic_translations.tickets_table.ext_2b')
                  %li
                    = t('dynamic_translations.tickets_table.ext_2c')
              .col-md-2.col-xs-6
                &nbsp;
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row.row-eq-height
              .col-md-8
                = t('dynamic_translations.tickets_table.ext_3_webinar')
              .col-md-2.col-xs-6
                &nbsp;
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-8
                = t('dynamic_translations.tickets_table.ext_4_book') 
                %em
                  = t('dynamic_translations.tickets_table.ext_4_book_title')
              .col-md-2.col-xs-6
                &nbsp;
              .col-md-2.col-xs-6
                = image_tag "/assets/tickets-tick-white.svg"
          %p.left
            = t('dynamic_translations.tickets_table.questions') 
            %b
              %a{:href => 'mailto:partners@ouisharefest.com'}
                partners@ouisharefest.com
        / %br
        / %p.text-center
        /   = image_tag("2016-tickets-#{I18n.locale}-05.png", width: "100%", alt: "Ticket options")
        / %br
        / %br


