#container.container-fluid.triangles
  #output.triangles
  .container
    .main-section{style: "padding-top:7%;"}
      .row
        #head_logo
          = image_tag "/assets/logo-fest-2016-coral.svg", :style => "height:250px;margin-top:20px"
      .row
        .col-md-10.col-md-offset-1
          %h1.main-title{:style => "color:#f56c6c"}
            = t('dynamic_translations.main.title')
        .col-md-8.col-md-offset-2
          %p.main-section-paragraphes
            = t('dynamic_translations.main.date')

      = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
        .row.text-center
          .col-md-offset-3.col-md-4
            = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
          .col-md-2.btn-pink.submit-email-button
            = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-pink", :style => "padding: 9px 12px 10px;"

      .row
        .col-md-8.col-md-offset-2
          %br
          %br
          %p.centered.join_bouton
            %a{:href => 'join#_tickets'}
              %button.btn.btn-embossed.btn-primary
                = t('dynamic_translations.reminder_ticket.getyourtickets')
#controls.controls

= javascript_include_tag 'triangles'
