- @magazines.each do |f|
  %li
    %a{href: "#{f.url}", target:"blank"}
      %h5.title
        = truncate(f.name, length: 70)
      %img.article{src: "#{f.content.split(' ')[3].split('"')[1]}"}
      %div.author
        / - author = User.where(name: f.author).first
        / - if author.present?
        /   %img.avatar{src:"#{author.avatar_url(45)}"}
        / %p.name 
        /   = "by #{f.author}"
        %p.date 
          = f.published_at
    %div.tags
      - if f.tags.present?
        - f.tags[0..2].each do |t|
          %span.label.blue = t


%br
%br
%br
%br
#slider1_container{:style => "position: relative; top: 0px; left: 0px; width: 800px;\n        height: 300px; overflow: hidden;"}
  / Slides Container
  %div{:style => "cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 300px;\n            overflow: hidden;", :u => "slides"}
    - @magazines.each do |f|
      %div
        %img{:src => "#{f.content.split(' ')[3].split('"')[1].gsub(/-150x150/, "")}", :u => "image"}
          %span.presentation.ouishare_stencil.white
            = f.name
          %span.btn.btn-blue{:style => "position:absolute; width: 100px; height: 50px; top: 70%; left: 40%;"}
            %a{href: "#{f.url}", target:"blank"}
              Read More
    / %div
    /   %img{:src => "/assets/img/photography/002.jpg", :u => "image"}
    /     %span{:style => "position: absolute;top: 10px; left: 10px; color:#fff; font-size: 30px"}
    /       Bonjour1
    / %div
    /   %img{:src => "/assets/img/photography/003.jpg", :u => "image"}
    /     %span{:style => "width: 40px; height: 50px; top: 150px; left: 100px; color:#000; position: absolute;"}
    /       Bonjour2
    / %div
    /   %img{:src => "/assets/img/photography/004.jpg", :u => "image"}/
    / %div
    /   %img{:src => "/assets/img/photography/005.jpg", :u => "image"}/
    / %div
    /   %img{:src => "/assets/img/photography/006.jpg", :u => "image"}/
    / %div
    /   %img{:src => "/assets/img/photography/007.jpg", :u => "image"}/
    / %div
    /   %img{:src => "/assets/img/photography/008.jpg", :u => "image"}/
    / %div
    /   %img{:src => "/assets/img/photography/009.jpg", :u => "image"}/


  %span.jssora13l{:style => "width: 40px; height: 50px; top: 123px; left: 30px;", :u => "arrowleft"}
  / Arrow Right
  %span.jssora13r{:style => "width: 40px; height: 50px; top: 123px; right: 30px", :u => "arrowright"}
%br
%br
%br
%br