%div
  %img{alt: "", src: "assets/slider/about-quote.jpg", style: "background:#1abc9c; width:100%; height:auto; display: block;"}/
            


.blank_bg#_about
  .container
    .second-section
      .row.centered
        %h5.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center#_about
          %span.bluebg
            = t('dynamic_translations.tagline.exploring_the_edges')
        / .carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8
        /   .carousel-inner
        /     .item.active
        /       .press-content{:style => 'height:3em;'}
        /         .press-text
        /           %h3
        /             = t('dynamic_translations.about.subtitle')
        /       .label-press
        /         Arun Sundararajan, Professor at NYU’s Stern School of Business        
        /   %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
        /   %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          %p{:style => 'margin-top: 2em;'}
            = t('dynamic_translations.about.t1')
          %br
          %p
            = t('dynamic_translations.about.t2')
          %br
          %p
            = t('dynamic_translations.about.t3')
          %br
          %p
            = t('dynamic_translations.about.t4')
            = t('dynamic_translations.about.t5')
            = t('dynamic_translations.about.t6')
      .row.centered.btn-space
        .col-md-6.col-md-offset-3
          %a{:href => 'program'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.button.see_program')

#_key_topics.triangle_bg_topics.white_txt
  .container
    .third-section
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.topics.title')
        %hr.pink
        %br/
        %br/
      .row
        .col-md-8.col-md-offset-2.topics
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.work')
            .col-xs-2
              %p.topics
                = image_tag "/assets/topics-work.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.work_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.blockchain')
            .col-xs-2
              %p.topics
                = image_tag "/assets/topics-blockchain.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.blockchain_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.opensource')
            .col-xs-2
              %p.topics
                = image_tag "/assets/topics-opensource.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.opensource_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.tech')
            .col-xs-2
              %p.topics
                = image_tag "/assets/topics-tech.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.tech_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.colleco')
            .col-xs-2
              %p.topics
                = image_tag "/assets/topics-colleco.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.colleco_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.organization')
            .col-xs-2
              %p.topics
                = image_tag "/assets/topics-organization.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.organization_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.body')
            .col-xs-2
              %p.topics
                = image_tag "/assets/topics-body.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.body_desc')
          / .row
          /   .col-sm-4
          /     %h5
          /       = t('dynamic_translations.topics.tech_title')
          /   .col-xs-2
          /     %p.topics
          /       = image_tag "/assets/picto-network.png"
          /   .col-sm-6
          /     %p
          /       = t('dynamic_translations.topics.tech_desc')
          / .row
          /   .col-sm-4
          /     %h5
          /       = t('dynamic_translations.topics.om_title')
          /   .col-xs-2
          /     %p.topics
          /       = image_tag "/assets/picto-makers.png"
          /   .col-sm-6
          /     %p
          /       = t('dynamic_translations.topics.om_desc')
          / .row
          /   .col-sm-4
          /     %h5
          /       = t('dynamic_translations.topics.orgs_title')
          /   .col-xs-2
          /     %p.topics
          /       = image_tag "/assets/picto-book.png"
          /   .col-sm-6
          /     %p
          /       = t('dynamic_translations.topics.orgs_desc')
          / .row
          /   .col-sm-4
          /     %h5
          /       = t('dynamic_translations.topics.shareco_title')
          /   .col-xs-2
          /     %p.topics
          /       = image_tag "/assets/picto-sharingeco.png"
          /   .col-sm-6
          /     %p
          /       = t('dynamic_translations.topics.shareco_desc')
          / .row
          /   .col-sm-4
          /     %h5
          /       = t('dynamic_translations.topics.cf_title')
          /   .col-xs-2
          /     %p.topics
          /       = image_tag "/assets/picto-finance.png"            
          /   .col-sm-6
          /     %p
          /       = t('dynamic_translations.topics.cf_desc')


/ What the press says
.blank_bg#_about_press
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.press.title')
      %hr.pink
      %br

    #myCarousel.carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8{ 'data-ride' => "carousel"}

      /Wrapper for slides
      .carousel-inner
        .item.active
          .press-content
            .press-text
              %h3
                The Fest is an event to not only inspire the new opportunities in the Collaborative Economy, but also to provide a venue to outline and debate the challenges.
          .label-press
            Jeremiah Owyang, Founder of Crowd Companies
        .item
          .press-content
            .press-text
              %h3
                At the Ouishare Fest, the great and the good from Europe’s sharing economy have been delving deep into what it means to be running a collaborative business model within a capitalist framework.
          .label-press
            Izabella Kaminska, FT
        .item
          .press-content
            .press-text
              %h3
                L’édition 2015 du OuiShare Fest marque une nouvelle étape, celle de la crise existentielle, voire d’adolescence (tout grandit si vite avec le numérique).
          .label-press
            Usine Digital
        .item
          .press-content
            .press-text
              %h3
                When co-operatives and left-wingers gathered at the Fest to discuss ways that grass-roots organisations could undermine giant repositories of data like Facebook, the blockchain made it into almost every speech.
          .label-press
            The Economist

      %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
      %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}
      / Controls
      %a.left.carousel-control{:href => "#myCarousel", 'data-slide' => "prev"}
        &lsaquo;

      %a.right.carousel-control{:href => "#myCarousel", 'data-slide' => "next" }
        &rsaquo;

/ Zero Waste banner

.become_partner.vmargin#_zerowaste
  .container
    .row.centered
      .col-md-6.col-md-offset-3.col-sm-12
        .btn.btn-pink.become-partner-btn
          %a{href: home_zero_waste_event_path}
            = t('dynamic_translations.zerowaste.btn_text')

/ #_awards.vspace.aboutouishare-section
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.ouishare_awards.title')
/       %hr.pink
/       %br
/       %br
/       .container.round_fond
/         .row
/           .col-md-8.col-md-offset-2
/             %p
/               = t('dynamic_translations.ouishare_awards.first_part')

/         .row
/           .col-md-8.col-md-offset-2
/             .col-md-12
/               %img{:src => '/assets/ouishare-award.png', :alt => 'ouishare awards logo', :style => 'width:50%;'}
/             .col-md-12
/               %a{:href => 'http://awards.ouishare.net/2015/', :target => '_blank'}
/                 .btn.btn-embossed.btn-primary{:style => 'margin: 30px 0px 0px 0px;'}
/                   = t('dynamic_translations.ouishare_awards.see_2015_winners')



/ About OuiShare
#_ouishare.aboutouishare-section.heart_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about.ouishare_title')
      %hr.pink
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p{:style => "padding-top:30px"}
              = t('dynamic_translations.about.ouishare_text')

        .row
          .col-md-8.col-md-offset-2
            .col-md-12
              %img{:src => '/assets/coeur-aboutouishare.png', :alt => 'OuiShare logo'}
            .col-md-12
              %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
                %button.btn.btn-embossed.btn-primary{:style => 'margin: 40px 0px 0px 0px;'}
                  = t('dynamic_translations.about.ouishare_btn')

/ Join section
.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')