%section#slideshow-container#_about
  .banner
    %ul
    
      / slide 1
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_inspire.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Inspire
      
      / slide 2
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_cocreate.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Co-create
      
      / slide 3
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_connect.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Connect
      
      / slide 4
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_img4.jpg", style: "background:#e4e6e6"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}

      
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_img5.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}

      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_dance.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            And Dance


.first-part
  .container
    .main-section
      .row
        %h3.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center#_about{:style => "font-size:20px;"}
          = t('dynamic_translations.about.subtitle')
        .col-md-6.col-md-offset-3{:style => "text-align:left;"}
          %p.white{:style => 'margin-top: 45px;'}
            = t('dynamic_translations.about.description')
          %br
          
          %p.white
            = t('dynamic_translations.what_is_community.text1')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text2')
          %br
          %p.white{:style =>"font-weight:bold;"}
            = t('dynamic_translations.what_is_community.text3')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text4')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text5')
          %br
          %br
          %br
          %p.topics.row.centered
            = image_tag "/assets/coeur-key-topic.png"
    .third-section
      .row.centered
        %h3.ouishare_stencil.white
          = t('dynamic_translations.topics.title')
        %hr.white
        %br/
        %br/
      .row
        .col-md-6.col-md-offset-3
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-2-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.collcon_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.collcon_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/crowdfunding-icon-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.cf_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.cf_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/open-knowledge-icon.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.ok_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.ok_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.om_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.om_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/horizontal-governance-icon-blue.png"
            .col-xs-4
              %h5
                = t('dynamic_translations.topics.gov_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.gov_desc')
        .col-md-6.col-md-offset-3.space_background
          %br


/ Highlights from 2014



.blank_bg#_highlights
  .container

    .row.centered
      .col-md-6.col-md-offset-3{style:"position: relative"}
        /* I know it's weird, just a hack that allow to scale an iframe before bootstrap 3.2 */
        %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
        %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/3g1BpJc-6PM", style:"position:absolute;top:0;left:0;width:100%;height:100%"} 
      

    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.highlight.title')
      %hr.pink

    .row.centered
      .col-md-8.col-md-offset-2
        .row
          %p
            = t('dynamic_translations.highlight.description_2014')
        .row{:style => "margin-top:50px;"}
          .col-md-12
            / .col-md-4
            /   %a.btn.btn-large.btn-primary{href: "http://www.youtube.com/user/OuiShareTV", :target => "_blank", :style => "width: 170px;"} 
            /     = t('dynamic_translations.highlight.btn_watch_2014_impressions')
            .col-md-6
              %a.btn.btn-large.btn-primary{href: "http://www.youtube.com/user/OuiShareTV", :target => "_blank", :style => "width: 170px;"} 
                = t('dynamic_translations.highlight.btn_watch_2014_sessions')
            .col-md-6
              %a.btn.btn-large.btn-primary{href: "http://ouisharefest.com/stories", :target => "_blank", :style => "width: 170px;"} 
                = t('dynamic_translations.highlight.btn_see_2014_stories')
    
    



    / .row.centered
    /   .col-md-9.span-centered.margin_25
    /     %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/QiXmsACpfRY", width: "560"}   
    / .row.centered       
    /   %p.white
    /     = t('dynamic_translations.highlight.description_2014')

    / .row.mb_20
    /   .col-md-2
    /   .col-md-4
    /     %a.btn.btn-large.btn-primary{href: "http://www.youtube.com/user/OuiShareTV", :target => "_blank"} 
    /       = t('dynamic_translations.highlight.btn_watch_2014_sessions')

    /   .col-md-4
    /     %a.btn.btn-large.btn-primary{href: "http://ouisharefest.com/stories", :target => "_blank"} 
    /       = t('dynamic_translations.highlight.btn_see_2014_stories')



/ OSFest14 report

#_report.aboutouishare-section{:style => "padding-top: 100px;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.report.2014_title')
      %hr.blue
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p
              = t('dynamic_translations.report.2014_description')

      .row
        .col-md-12.col-lg-8.col-lg-offset-2
          .col-sm-12.col-md-6
            %a{:href => 'http://bit.ly/OuiShareFest14_Report', :target => '_blank'}
              %img.img-responsive{:src => '/assets/osf_2014_report.jpg', :alt => 'OuiShare Fest 2014 Report', style:"margin:auto"}
          .col-sm-12.col-md-6
            %p.centered
              .col-md-12
                .btn.btn-pink{:style => 'width: 280px; margin: 60px 0px 40px 0px;'}
                  %a{:href => 'http://bit.ly/OuiShareFest14_Report', :target => '_blank'}
                    = t('dynamic_translations.report.link')
              .col-md-12
                .btn.btn-pink{:style => 'width: 280px;'}
                  %a{:href => 'http://2014.ouisharefest.com', :target => '_blank'}
                    = t('dynamic_translations.report.old_site')

/ #location.triangle_bg#_about_location
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.location.title')
/         / A Magical Location
/         %br
/         %br
/       .container.round_fond
/         %h4{:style => "font-size:18px;"}
/           = t('dynamic_translations.location.description')
/           / We look forward to welcoming you at the Cabaret Sauvage in northeastern Paris: a magical venue with a circus-like hall, located by the canal in the Parc de la Villette. 
/       %br
/       %br
/       .col-md-6

/         %object{height: "375", width: "100%"}
/           %param{name: "flashvars", value: "offsite=true&lang=fr-fr&page_show_url=%2Fphotos%2Fouishare%2Fsets%2F72157641311640224%2Fshow%2F&page_show_back_url=%2Fphotos%2Fouishare%2Fsets%2F72157641311640224%2F&set_id=72157641311640224&jump_to="}/
/           %param{name: "movie", value: "http://www.flickr.com/apps/slideshow/show.swf?v=140556"}/
/           %param{name: "allowFullScreen", value: "true"}/
/           %embed{allowfullscreen: "true", flashvars: "offsite=true&lang=fr-fr&page_show_url=%2Fphotos%2Fouishare%2Fsets%2F72157641311640224%2Fshow%2F&page_show_back_url=%2Fphotos%2Fouishare%2Fsets%2F72157641311640224%2F&set_id=72157641311640224&jump_to=", height: "375", src: "http://www.flickr.com/apps/slideshow/show.swf?v=140556", type: "application/x-shockwave-flash", width: "100%"}
/       .col-md-6
/         #gmap_canvas{style: "height:375px;width:100%;margin-bottom:20px;"}
/     .row.centered
/       %br
/       %br
/       %br
/       %br

.background_2#_about_press
  .container
    .row.centered
      %h3.ouishare_stencil.white
        = t('dynamic_translations.press.title')
      %hr.white
      %br

    #myCarousel.carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8{ 'data-ride' => "carousel"}

      /Wrapper for slides
      .carousel-inner
        .item.active
          .press-content
            .press-text
              %h3.naiv
                “For anyone under the impression that the rise of the sharing economy is simply a blip reaction to the recession, the OuiShare conference is proving otherwise”
          .label-press
            The Guardian
        .item
          .press-content
            .press-text
              %h3.naiv
                This year’s theme, the Age of Communities, was broad enough to welcome all sides of the movement: venture capitalists alongside black markets, slow foodies alongside Bitcoin promoters.
          .label-press
            Al Jazeera
        .item
          .press-content
            .press-text
              %h3.naiv
                “Parmi les trois points sensibles évoqués à l'occasion du OuiShareFest: le rapport aux institutions, la possibilité de participer à la réduction des inégalités, et la durabilité du modèle collaboratif”
          .label-press
            Le Monde
        .item
          .press-content
            .press-text
              %h3.naiv
                \...este festival sin orden pero con sentido..
          .label-press
            El Pais
        .item
          .press-content
            .press-text
              %h3.naiv
                The atmosphere was positive and driven. This was an assembly of doers, creators, and thinkers.
          .label-press
            Shareable

      %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
      %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}
      / Controls
      %a.left.carousel-control{:href => "#myCarousel", 'data-slide' => "prev"}
        &lsaquo;

      %a.right.carousel-control{:href => "#myCarousel", 'data-slide' => "next" }
        &rsaquo;


/ Testimonials

/ #testimonial.yellow_bg#_about_testimonials
/   .container
/     .row.centered
/         = t('dynamic_translations.testimonials.title')
/     %br
/     %br
/     #testimonialCarousel.carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8{ 'data-ride' => "carousel"}

/Wrapper for slides
/       .carousel-inner
/         .item.active
/           .press-content
/             .press-text
/               %h3.naiv
/                 = "“" + t('dynamic_translations.testimonials.hansschoenburg') + "”"
/           .label-press
/             Hans Schoenburg | web developer | Yerdle
/         .item
/           .press-content
/             .press-text
/               %h3.naiv
/                 = "“" + t('dynamic_translations.testimonials.albertobandolini') + "”"
/           .label-press
/             Alberto Bandolini | software entrepreneur
/         .item
/           .press-content
/             .press-text
/               %h3.naiv
/                 = "“" + t('dynamic_translations.testimonials.michelbauwens') + "”"
/           .label-press
/             Michel Bauwens | founder | Peer-to-Peer Foundation
        
/       %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
/       %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}

/ Controls
/       %a.left.carousel-control{:href => "#testimonialCarousel", 'data-slide' => "prev"}
/         &lsaquo;

/       %a.right.carousel-control{:href => "#testimonialCarousel", 'data-slide' => "next" }
/         &rsaquo;



/ About OuiShare 
#_ouishare.aboutouishare-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about.ouishare_title')
      %hr.blue
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p
              = t('dynamic_translations.about.ouishare_text')

        .row
          .col-md-8.col-md-offset-2
            .col-md-12
              %img{:src => '/assets/coeur-aboutouishare.png', :alt => 'OuiShare logo'}
            .col-md-12
              .btn.btn-pink{:style => 'margin: 40px 0px 0px 0px;'}
                %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
                  = t('dynamic_translations.about.ouishare_btn')

/ #_ouishare.blank_bg
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.about.ouishare_title')
/       %br      
/       %br
/       .container.round_fond
/         .row
/           .col-xs-12.col-md-6.col-lg-6
/             %p.justify
              
/               = t('dynamic_translations.about.ouishare_text')

/             %p.centered
/               %br
/               %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
/                 %button.btn.btn-embossed.btn-primary
/                   = t('dynamic_translations.about.ouishare_btn')

/           .col-xs-12.col-md-6.col-lg-6
/             %img{:src => '/assets/ouishare-400.png', :alt => 'OuiShare logo'}



