%section#slideshow-container#_about
  .banner
    %ul

      / slide 1
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_inspire.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Inspire

      / slide 2
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_cocreate.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Co-create

      / slide 3
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_connect.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Connect

      / slide 4
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_img4.jpg", style: "background:#e4e6e6"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}


      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_img5.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}

      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_dance.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            And Dance


.first-part
  .container
    .second-section
      .row
        %h3.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center#_about{:style => "font-size:20px;background-color: #f56c6c"}
          = t('dynamic_translations.about.subtitle')
        .col-md-6.col-md-offset-3{:style => "text-align:left;"}
          %p{:style => 'margin-top: 45px;'}
            = t('dynamic_translations.about.p1')
          %br
          %p
            = t('dynamic_translations.about.p2')
          %br
          %p
            = t('dynamic_translations.about.p3')
          %br
          %br
          %br
          %p.topics.row.centered
            = image_tag "/assets/coeur-key-topic.png"
    .third-section
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.topics.title')
        %hr.pink
        %br/
        %br/
      .row
        .col-md-6.col-md-offset-3
          .row
            .col-md-4
              %h5
                = t('dynamic_translations.topics.collcon_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-2-blue.png"
            .col-md-6
              %p
                = t('dynamic_translations.topics.collcon_desc')
          .row
            .col-md-4
              %h5
                = t('dynamic_translations.topics.cf_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/crowdfunding-icon-blue.png"            
            .col-md-6
              %p
                = t('dynamic_translations.topics.cf_desc')
          .row
            .col-md-4
              %h5
                = t('dynamic_translations.topics.ok_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/open-knowledge-icon.png"
            .col-md-6
              %p
                = t('dynamic_translations.topics.ok_desc')
          .row
            .col-md-4
              %h5
                = t('dynamic_translations.topics.om_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-blue.png"
            .col-md-6
              %p
                = t('dynamic_translations.topics.om_desc')
          .row
            .col-xs-4
              %h5
                = t('dynamic_translations.topics.gov_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/horizontal-governance-icon-blue.png"
            .col-md-6
              %p
                = t('dynamic_translations.topics.gov_desc')
        .col-md-6.col-md-offset-3.space_background
          %br



/ Zero Waste banner

.become_partner#_zerowaste
  .container
    .row.centered
      .col-md-5.col-md-offset-4
        .btn.btn-pink.become-partner-btn
          %a{href: home_zero_waste_event_path}
            = t('dynamic_translations.zerowaste.btn_text')


/ Highlights from 2015
.blank_bg#_highlights
  .container
    .row.centered
      .col-md-6.col-md-offset-3{style:"position: relative"}
        /* I know it's weird, just a hack that allow to scale an iframe before bootstrap 3.2 */
        %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
        %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/Hr683Ldt6dQ", style:"position:absolute;top:0;left:0;width:100%;height:100%"}


    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.highlight.watch_2015_sessions')
      %hr.pink

    .row.centered
      .col-md-8.col-md-offset-2
        .row
          %p
            = t('dynamic_translations.highlight.description_2014')
        .row{:style => "margin-top:50px;"}
          .col-md-12
            .col-md-6.col-md-offset-3
              %a.btn.btn-embossed.btn-primary{href: "https://www.youtube.com/playlist?list=PL8Bt3EbdmpKM4tYKyERKbp6VMYTjYZwCF", :target => "_blank", :style => "width: 170px;"}
                = t('dynamic_translations.highlight.watch_the_sessions')


.net_bg#_about_press
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.press.title')
      %hr.pink
      %br

    #myCarousel.carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8{ 'data-ride' => "carousel"}

      /Wrapper for slides
      .carousel-inner
        .item.active
          .press-content
            .press-text
              %h3.naiv
                The Fest is an event to not only inspire the new opportunities in the Collaborative Economy, but also to provide a venue to outline and debate the challenges.
          .label-press
            Jeremiah Owyang, Founder of Crowd Companies
        .item
          .press-content
            .press-text
              %h3.naiv
                There's no other conference I've been to that has this 'TED meets Burning Man' feel.
          .label-press
            Arun Sundararajan, Professor at NYU’s Stern School of Business
        .item
          .press-content
            .press-text
              %h3.naiv
                At the Ouishare Fest, the great and the good from Europe’s sharing economy have been delving deep into what it means to be running a collaborative business model within a capitalist framework.
          .label-press
            Izabella Kaminska, FT
        .item
          .press-content
            .press-text
              %h3.naiv
                L’édition 2015 du OuiShare Fest marque une nouvelle étape, celle de la crise existentielle, voire d’adolescence (tout grandit si vite avec le numérique).
          .label-press
            Usine Digital
        .item
          .press-content
            .press-text
              %h3.naiv
                When co-operatives and left-wingers gathered at the Fest to discuss ways that grass-roots organisations could undermine giant repositories of data like Facebook, the blockchain made it into almost every speech.
          .label-press
            The Economist

      %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
      %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}
      / Controls
      %a.left.carousel-control{:href => "#myCarousel", 'data-slide' => "prev"}
        &lsaquo;

      %a.right.carousel-control{:href => "#myCarousel", 'data-slide' => "next" }
        &rsaquo;



/ About OuiShare
#_ouishare.aboutouishare-section.heart_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about.ouishare_title')
      %hr.pink
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p{:style => "padding-top:30px"}
              = t('dynamic_translations.about.ouishare_text')

        .row
          .col-md-8.col-md-offset-2
            .col-md-12
              %img{:src => '/assets/coeur-aboutouishare.png', :alt => 'OuiShare logo'}
            .col-md-12
              .btn.btn-embossed.btn-primary{:style => 'margin: 40px 0px 0px 0px;'}
                %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
                  = t('dynamic_translations.about.ouishare_btn')

