.blank_bg.page
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.goldrush.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information.justify
        %p
          = t('dynamic_translations.goldrush.text1')
        %p
          = t('dynamic_translations.goldrush.text2')
        %p
          = t('dynamic_translations.goldrush.text3')
        %p
          %b
            = t('dynamic_translations.goldrush.text4')
        / %p.text-center
        /   %b
        /     = t('dynamic_translations.goldrush.p1')
        / %p.text-center
        /   = t('dynamic_translations.goldrush.p2a')
        /   %a{href: "http://content.time.com/time/specials/packages/article/0,28804,2059521_2059717_2059710,00.html", target: "_blank"}
        /     = t('dynamic_translations.goldrush.p2b')
        /   = t('dynamic_translations.goldrush.p2c')
        / %p.text-center
        /   = t('dynamic_translations.goldrush.p3')
        / %p.text-center
        /   = t('dynamic_translations.goldrush.p4')
        / %p.text-center
        /   %b
        /     = t('dynamic_translations.goldrush.p5')
        %p.text-center
          %a{href: "http://stories.ouisharefest.com/after-the-gold-rush/", target: "_blank"}
            = t('dynamic_translations.goldrush.p6')

/ Join section
.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')
