.blank_bg.page
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.goldrush.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %p.text-center
          %b
            = t('dynamic_translations.goldrush.p1')
        %p.text-center
          = t('dynamic_translations.goldrush.p2a')
          %a{href: "http://content.time.com/time/specials/packages/article/0,28804,2059521_2059717_2059710,00.html", target: "_blank"}
            = t('dynamic_translations.goldrush.p2b')
          = t('dynamic_translations.goldrush.p2c')
        %p.text-center
          = t('dynamic_translations.goldrush.p3')
        %p.text-center
          = t('dynamic_translations.goldrush.p4')
        %p.text-center
          %b
            = t('dynamic_translations.goldrush.p5')
        %p.text-center
          %a{href: "http://magazine.ouishare.net/2015/12/after-the-gold-rush", target: "_blank"}
            = t('dynamic_translations.goldrush.p6')


