.blank_bg.page
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.coc.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.justify.spaced
        %h4
          = t('dynamic_translations.coc.1_brief')
        %p
          = t('dynamic_translations.coc.1_brief_text')
        %h4
          = t('dynamic_translations.coc.2_purpose')
        %p
          = t('dynamic_translations.coc.2_purpose_text')
        %h4
          = t('dynamic_translations.coc.3_respectful')
        %p
          = t('dynamic_translations.coc.3_respectful_text')
        %p
          = t('dynamic_translations.coc.4_inclusive_text')
        %h4
          = t('dynamic_translations.coc.5_respectful_2')
        %ul
          %li
            = t('dynamic_translations.coc.5_respectful_2_li_1')
          %li
            = t('dynamic_translations.coc.5_respectful_2_li_2')
        %h4
          = t('dynamic_translations.coc.6_unacceptable')
        %p
          = t('dynamic_translations.coc.6_unacceptable_text')
        %h4
          = t('dynamic_translations.coc.7_resolve')
        %p
          = t('dynamic_translations.coc.7_resolve_text')
        %p
          = t('dynamic_translations.coc.7_resolve_text_2')
        %h4
          = t('dynamic_translations.coc.8_consequences')
        %p
          = t('dynamic_translations.coc.8_consequences_text')
        %h4
          = t('dynamic_translations.coc.9_thanks')
        %p
          = t('dynamic_translations.coc.9_thanks_t1')
        %p
          = t('dynamic_translations.coc.9_thanks_t2a')
          %a{:href => 'http://www.yesandyesyes.com/code-of-conduct', :target => '_blank'}
            Yes and Yes Yes
          = t('dynamic_translations.coc.9_thanks_t2b')
          %a{:href => 'http://confcodeofconduct.com/', :target => '_blank'}
            Conference code of Conduct,
          = t('dynamic_translations.coc.9_thanks_t2c')
        %p
          = t('dynamic_translations.coc.contact')
          %a{:href => "mailto:hello@ouisharefest.com"}
            hello@ouisharefest.com

/ Join section
.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')