.main_bg.page.top_ff
  .container
    .main-section
      .row
        #head_logo_ff
          = image_tag "/assets/logo-ff-coral.png"
      .row
        / .col-md-10.col-md-offset-1
        /   %h1.main-title{:style => "color:#f56c6c"}
        /     = t('dynamic_translations.ff.title')
        .col-md-8.col-md-offset-2
          %h4.coral
            = t('dynamic_translations.ff.tagline')
      .row
        .col-md-8.col-md-offset-2
          %br
          %br
          %p.centered.join_bouton
            %a{:href => '#_apply'}
              %button.btn.btn-embossed.btn-primary
                = t('dynamic_translations.ff.btn_apply')
.blank_bg#_about
  .container
    .second-section
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.ff_about.title')
        %hr.pink
        %br/
        %br/
      .row.centered.blank_bg
        %h3.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center{:style => "font-size:20px;background-color: #f56c6c"}
          = t('dynamic_translations.ff_about.subtitle')
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          %br
          %br
          %p
            = t('dynamic_translations.ff_about.p1a')
            %a{href: "http://ouisharefest.com", target: "_blank"}
              OuiShare Fest Paris,
            = t('dynamic_translations.ff_about.p1b')
          %br
          %p
            = t('dynamic_translations.ff_about.p2a')
            %a{href: "http://poc21.cc", target: "_blank"}
              POC21
            = t('dynamic_translations.ff_about.p2b')
            %a{href: "http://awards.ouishare.net", target: "_blank"}
              OuiShare Awards,
            = t('dynamic_translations.ff_about.p2c')
          %br
          %p
            = t('dynamic_translations.ff_about.p3a')
            %a{href: 'fest_forward_applications'}
              apply here >>

.net_bg.vspace#_apply
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_apply.title')
      %hr.pink
      %br/
    .row
      .col-md-8.col-md-offset-2
        %br
        %br
        %p.centered.join_bouton
          %a{:href => 'fest_forward_applications'}
            %button.btn.btn-embossed.btn-primary
              Read more >>

.blank_bg.vspace#_jury
  .container
    .row.centered
      %h3.ouishare_stencil
        Jury
      %hr.pink
      %br/
    .row.centered
      .col-md-8.col-md-offset-2
        %p
          The Fest Forward Jury consists of a committee ofexperts, partners and 
          %a{href: '#'}
            OuiShare Connectors
        %p
          This committee will do the project pre-selection and chose two of the three final projects. The third project will be selected by the community.

.net_bg.vspace#_program
  .container
    .row.centered
      %h3.ouishare_stencil
        Program
      %hr.pink
      %br/
      %br/
    .row.travel_information
      .col-md-8.col-md-offset-2
        %p
          To make the OuiShare Fest Forward experience as valuable as possible for its participants, the accelerator program is modular and will be adapted to eachproject and its challenge. The global structure is described below but the content of the mentoring sessions and the types of hard skill support will depend on both the project and the challenge. The program design is, therefore, modular to allow the best experience to all the participants. 

.blank_bg.vspace#_vote
  .container
    .row.centered
      %h3.ouishare_stencil
        Vote
      %hr.pink
      %br/
    .row.centered
      .col-md-8.col-md-offset-2
        %h4.coral
          Community votes opening soon!
        / %h4.coral
        /   Vote for your favorite project below!



