.fforward_bg.top_ff
  .container
    .main-section
      .row
        #head_logo_ff
          = image_tag "/assets/logo-fest-forward-2016-blue.svg"
      .row
        / .col-md-10.col-md-offset-1
        /   %h1.main-title{:style => "color:#f56c6c"}
        /     = t('dynamic_translations.ff.title')

      .row
        .col-md-8.col-md-offset-2
          %br
          %br
          %p.centered.join_bouton
            %a{:href => '#_apply'}
              %button.btn.btn-embossed.btn-primary
                = t('dynamic_translations.ff.btn_apply')

.blank_bg.vspace#_tagline
  .container
    .row.centered
      .col-md-8.col-md-offset-2
        %h4.tagline
          = t('dynamic_translations.ff.tagline')
        %h5.tagline.text-center
          = t('dynamic_translations.ff_about.subtitle')

.blank_bg#_about
  .container
    .second-section
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.ff_about.title')
        %hr.pink
      .row.centered
        .col-sm-8.col-sm-offset-2
          %p
            = t('dynamic_translations.ff_about.p1a')
            %a{href: "http://ouisharefest.com", target: "_blank"}
              OuiShare Fest Paris,
            = t('dynamic_translations.ff_about.p1b')
          %br
          %p
            = t('dynamic_translations.ff_about.p2a')
          %br
          %p
            = t('dynamic_translations.ff_about.p2a_building')
            %a{href: "http://poc21.cc", target: "_blank"}
              POC21
            = t('dynamic_translations.ff_about.p2b')
            %a{href: "http://awards.ouishare.net", target: "_blank"}
              OuiShare Awards,
            = t('dynamic_translations.ff_about.p2c')
          %br
          %p
            = t('dynamic_translations.ff_about.p3a')
            %a{href: '#_apply'}
              apply here >>

.net_bg.ff_apply#_apply
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_apply.title')
      %hr.pink
    .row.justify
      .col-md-8.col-md-offset-2.white_bg
        %h4.blue
          = t('dynamic_translations.ff_apply.who_title')
        %p
          OuiShare Fest Forward aims to showcase a diversity collaborative, open source projects. We are open to applications from:
        %ul
          %li
            startups, non-profits and public initiatives
          %li
            hardware and software projects
          %li
            large and small teams
          %li
            new and established initiatives
        %p
          There are only 
          %b
            two application requirements:
        %ol
          %li
            The initiative has the potential to create a measurable positive impact on society or the environment
          %li
            The initiative is open source
        %br
        %br
        %h4
          Selection criteria
        %ul
          %li
            %span.caps
              Impact: 
            how large is the impact of your project (direct and indirect)?
          %li
            %span.caps
              Replicability: 
            how easy it is to duplicate and scale your project or solution?
          %li
            %span.caps
              Disruption: 
            how innovative and transfomative is your idea?
          %li
            %span.caps
              Viability: 
            is your idea coherent with and applicable to the world we live in?
          %li
            %span.caps
              Structure: 
            how well structured is your team, your concept, your model
          %li
            %span.caps
              Challenge: 
            how can we contribute to solving your challenge
          %li
            %span.caps
              Values: 
            how well does your project put into action the 
            %a{:href => 'http://ouishare.net/about/values', :target => '_blank'}
              OuiShare values?
          %li
            %span.caps
              OuiShare Fest Program: 
            does your project address topics that are part of the 
            %a{href: 'program'}
              OuiShare Fest program?
        %p
          The project holders should be available to start working together with OuiShare partners before the Fest. International applications are more than welcome!
        %p
          *OuiShare Fest Forward will not cover any flight tickets to Paris.
        %br
        %br
        %h4.blue
          Process & Deadlines
        / %p
        /   The Impact | Applicants should pick one or more fields and give brief illustrations of the impact achieved through their actions.
        / %p
        /   The Challenge | Applicants are invited to shortly detail the type of challenge their initiative face and the ideas they have to solve them.
        / %p
        /   At the end of the call for applications, on February 29th, a selection committee will review the initiatives and start-ups which applied, on the basis of the selection criteria. 
        %h6
          Online Application till February 29th
        %p
          %a{:href => 'https://ouisharefest.typeform.com/to/s8ouC5', :target => '_blank'}
            Projects should submit an online application
        %p
          Applicants are asked to:
        %ul
          %li
            explain their project and the positive impact it creates
          %li
            explain the challenge they would like to address during the 3-day accelerator and the ideas they have to solve it.
        %h6
            Pre-selection
        %p
          %em
            March 1-15
          %br
          All applications will be reviewed and evaluated based on the selection criteria by a jury of experts from the OuiShare community. We will schedule a call with the short-listed candidates. Two initiatives will be selected directly by the jury.
          %br
        %h6
          Online community voting 
        %p
          %em
            March 15-25
          %br
          The community is invited to vote for their favorite initiative online.
          %br
        %h6
          Fest Forward Preparation
        %p
          %em
            Before the Fest
          %br
          The selected projects and the Fest Forward team we will work together to prepare the 3-day acceleration.
          %br      
        %h6
          3 day acceleration during OuiShare Fest Paris
        %p
          %em
            May 18-20
          %br
          3 intense days of work, connecting and fun with 1500 international innovators, thought leaders and entrepreneurs at the Cabaret Sauvage. 

        %p.centered.join_bouton
          %a{:href => 'https://ouisharefest.typeform.com/to/s8ouC5', :target => '_blank'}
            %button.btn.btn-embossed.btn-primary
              Apply >>

.blank_bg#_jury
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_jury.title')
      %hr.pink
    .row.centered
      .col-md-8.col-md-offset-2
        %p
          The Fest Forward Jury consists of a committee of experts, partners and 
          %a{:href => 'http://ouishare.net/about/team', :target => '_blank'}
            OuiShare Connectors.
          Jury members will be soon featured here.
        %p
          The committee will pre-select projects and chose two of the three final nominees. The third project will be selected by the community.


.net_bg.vspace#_experience
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_experience.title')
      %hr.pink
    .row.justified
      .col-md-8.col-md-offset-2.white_bg
        %p
          To make the OuiShare Fest Forward experience as valuable as possible for its participants, the accelerator program is modular and will be adapted to each project and its challenge. Based on the project needs, we will do our best to provide the necessary materials, tools, and expertise. 

.blank_bg.vspace#_vote
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_vote.title')
      %hr.pink
      %br/
    .row.centered
      .col-md-8.col-md-offset-2
        %h5.tagline
          Community votes opening soon!
        / %h4.coral
        /   Vote for your favorite project below!



