.fforward_bg
  .container
    .main-section
      .row
        #head_logo_ff
          = image_tag "/assets/logo-fest-forward-white.svg"
      .row
        / .col-md-10.col-md-offset-1
        /   %h1.main-title{:style => "color:#f56c6c"}
        /     = t('dynamic_translations.ff.title')

      .col-md-6.col-md-offset-3
        %h5.tagline
          = t('dynamic_translations.ff.tagline')
      .row
        .col-md-8.col-md-offset-2
          %br
          %p.centered.join_bouton
            %a{:href => '#_apply'}
              %button.btn.btn-padding.btn-fandango
                = t('dynamic_translations.ff.btn_apply')

.blank_bg#_tagline
  .container
    .row.centered
      .col-md-8.col-md-offset-2
        / %h4.tagline
        /   = t('dynamic_translations.ff.tagline')
        %h5.tagline.text-center
          = t('dynamic_translations.ff_about.subtitle')

.blank_bg#_about
  .container
    .second-section
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.ff_about.title')
        %hr.pink
      .row.centered
        .col-sm-8.col-sm-offset-2
          %p
            = t('dynamic_translations.ff_about.p1a')
            %a{href: "http://ouisharefest.com", target: "_blank"}
              OuiShare Fest Paris,
            = t('dynamic_translations.ff_about.p1b')
          %br
          %p
            = t('dynamic_translations.ff_about.p2a')
          %br
          %p
            = t('dynamic_translations.ff_about.p2a_building')
            %a{href: "http://poc21.cc", target: "_blank"}
              POC21
            = t('dynamic_translations.ff_about.p2b')
            %a{href: "http://awards.ouishare.net", target: "_blank"}
              OuiShare Awards,
            = t('dynamic_translations.ff_about.p2c')
          %br
          %p
            = t('dynamic_translations.ff_about.p3a')
            %a{href: '#_apply'}
              = t('dynamic_translations.ff_about.p3_apply_here')
              \>>

.triangle_bg_3.white_txt#_apply{style:"padding-top: 7%; margin-bottom:2%"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_apply.title')
      %hr.pink
    .row.justify
      .col-md-8.col-md-offset-2
        %br
        %p
          = t('dynamic_translations.ff_apply.p2') 
          %b.caps
            = t('dynamic_translations.ff_apply.p2_requirements')
        %ol
          %li
            = t('dynamic_translations.ff_apply.p2_req1')
          %li
            = t('dynamic_translations.ff_apply.p2_req2')
        %br
        %br
    .row.justify
      .col-md-8.col-md-offset-2
        %p
          = t('dynamic_translations.ff_apply.p1')
        %ul
          %li
            = t('dynamic_translations.ff_apply.p1a')
          %li
            = t('dynamic_translations.ff_apply.p1b')
          %li
            = t('dynamic_translations.ff_apply.p1c')
          %li
            = t('dynamic_translations.ff_apply.p1d')
        %br
        %p.centered.join_bouton
          %a{:href => 'https://ouisharefest.typeform.com/to/s8ouC5', :target => '_blank'}
            %button.btn.btn-padding.btn-violet
              = t('dynamic_translations.ff.btn_apply')
        %br

.blank_bg.vspace{style:"padding-top: 0"}
  .container
    .row.justify
      .col-md-8.col-md-offset-2
        %h4
          = t('dynamic_translations.ff_apply.selection_criteria')
        %ul.criteria
          %li.btn.btn-purple
            %span.caps
              = t('dynamic_translations.ff_apply.selection_criteria_impact') 
            / = t('dynamic_translations.ff_apply.selection_criteria_impact_desc')
          %li.btn.btn-fandango
            %span.caps
              = t('dynamic_translations.ff_apply.selection_criteria_replicability') 
          /   / = t('dynamic_translations.ff_apply.selection_criteria_replicability_desc')
          / %li
          /   %span.caps
          /     = t('dynamic_translations.ff_apply.selection_criteria_disruption') 
          /   / = t('dynamic_translations.ff_apply.selection_criteria_disruption_desc')
          / %li
          /   %span.caps
          /     = t('dynamic_translations.ff_apply.selection_criteria_viability') 
          /   / = t('dynamic_translations.ff_apply.selection_criteria_viability_desc')
          / %li
          /   %span.caps
          /     = t('dynamic_translations.ff_apply.selection_criteria_structure') 
          /   / = t('dynamic_translations.ff_apply.selection_criteria_structure_desc')
          %li.btn.btn-purple
            %span.caps
              = t('dynamic_translations.ff_apply.selection_criteria_team') 
          %li.btn.btn-fandango
            %span.caps
              = t('dynamic_translations.ff_apply.selection_criteria_challenge') 
            / = t('dynamic_translations.ff_apply.selection_criteria_challenge_desc')
          %li.btn.btn-purple
            %span.caps
              = t('dynamic_translations.ff_apply.selection_criteria_synergy') 
          / %li
          /   %span.caps
          /     = t('dynamic_translations.ff_apply.selection_criteria_values') 
          / /   = t('dynamic_translations.ff_apply.selection_criteria_values_desc') 
          / /   %a{:href => 'http://ouishare.net/about/values', :target => '_blank'}
          / /     = t('dynamic_translations.ff_apply.selection_criteria_values_link')
          / / %li
          / /   %span.caps
          / /     = t('dynamic_translations.ff_apply.selection_criteria_program') 
          / /   = t('dynamic_translations.ff_apply.selection_criteria_program_desc') 
          / /   %a{href: 'program'}
          / /     = t('dynamic_translations.ff_apply.selection_criteria_program_link')
        %p
          = t('dynamic_translations.ff_apply.p3')
        %p
          = t('dynamic_translations.ff_apply.p4')
        %br
        %br
        %h4.blue
          = t('dynamic_translations.ff_apply.process')
        %h6
          = t('dynamic_translations.ff_apply.process_dl')
        %p
          %a{:href => 'https://ouisharefest.typeform.com/to/s8ouC5', :target => '_blank'}
            = t('dynamic_translations.ff_apply.process_dl_link')
        %p
          = t('dynamic_translations.ff_apply.process_dl_1')
        %ul
          %li
            = t('dynamic_translations.ff_apply.process_dl_1a')
          %li
            = t('dynamic_translations.ff_apply.process_dl_1b')
        %h6
          = t('dynamic_translations.ff_apply.process_1_pre')
        %p
          %em
            = t('dynamic_translations.ff_apply.process_1_pre_dates')
          %br
          = t('dynamic_translations.ff_apply.process_1_pre_desc')
          %br
        %h6
          = t('dynamic_translations.ff_apply.process_2_voting') 
        %p
          %em
            = t('dynamic_translations.ff_apply.process_2_voting_dates')
          %br
          = t('dynamic_translations.ff_apply.process_2_voting_desc')
          %br
        %h6
          = t('dynamic_translations.ff_apply.process_3_prep')
        %p
          %em
            = t('dynamic_translations.ff_apply.process_3_prep_dates')
          %br
          = t('dynamic_translations.ff_apply.process_3_prep_desc')
          %br      
        %h6
          = t('dynamic_translations.ff_apply.process_4_fest')
        %p
          %em
            = t('dynamic_translations.ff_apply.process_4_fest_dates')
          %br
          = t('dynamic_translations.ff_apply.process_4_fest_desc') 

        %p.centered.join_bouton
          %a{:href => 'https://ouisharefest.typeform.com/to/s8ouC5', :target => '_blank'}
            %button.btn.btn-padding.btn-fandango
              = t('dynamic_translations.ff.btn_apply')

.blank_bg#_jury
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_jury.title')
      %hr.pink
    .row.centered
      .col-md-8.col-md-offset-2
        %p
          = t('dynamic_translations.ff_jury.p1a') 
          %a{:href => 'http://ouishare.net/about/team', :target => '_blank'}
            = t('dynamic_translations.ff_jury.p1a_connectors')
          / %br
          / = t('dynamic_translations.ff_jury.p1b')
        %p
          = t('dynamic_translations.ff_jury.p2')
    .row.centered
      - if !@jury.blank?
        .ch-grid
          - @jury.each do |team_member|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/team_member_display", :team_member => team_member          


.triangle_bg_4.vspace.white_txt#_experience
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_experience.title')
      %hr.pink
    .row.justified
      .col-md-8.col-md-offset-2
        %br
        %p
          = t('dynamic_translations.ff_experience.text') 

.blank_bg#_vote
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ff_vote.title')
      %hr.pink
    .row.centered
      .col-md-8.col-md-offset-2
        %h5.tagline
          = t('dynamic_translations.ff_vote.open_soon')
        / %h5.tagline
        /   = t('dynamic_translations.ff_vote.vote_now')
        %br
        %br
        %br



