.blank_bg#freelancers
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.tickets.freelancers_small_business')
      %hr.pink
      %br
      %br
      %p.text-center
        = t('dynamic_translations.tickets.freelancers_small_business_about')
        %br
      %p.text-center
        = t('dynamic_translations.tickets.description1')
        %a{href: "join#_getinvolved"} 
          = t('dynamic_translations.tickets.get_involved')
        %br
      %p.text-center
        = t('dynamic_translations.tickets.description2')
        %a{href: "http://bit.ly/OSFest14ticketapplication"} 
          = t('dynamic_translations.tickets.apply_tickets_link')
      %br
      %h4{:style => "font-size:18px;"}
        %p.text-center
          = t('dynamic_translations.tickets.sponsored_tickets_text2')
      %br
      %div{:style => "width:100%; text-align:left;"}
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "520", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :src => "http://www.eventbrite.com/tickets-external?eid=13148891689&ref=etckt&v=2", :vspace => "0", :width => "100%"}
        %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
          %a{:href => "http://www.eventbrite.com/r/etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} 
            =t('dynamic_translations.tickets.event_registration_online')
          %span{:style => "color:#ddd;"} 
            =t('dynamic_translations.tickets.for')
          %a{:href => "http://www.eventbrite.com/e/ouishare-fest-15-tickets-13148891689?aff=eac2", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} OuiShare Fest 2015
          %span{:style => "color:#ddd;"} 
            =t('dynamic_translations.tickets.powered_by')
          %a{:href => "http://www.eventbrite.com?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Eventbrite
