.blank_bg
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.getting_venue.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.getting_venue.public_transportation')
        %p.text-center
          %b
            = t('dynamic_translations.getting_venue.underground.title')
          %br
          = t('dynamic_translations.getting_venue.underground.part_one')
          %a{href: "http://www.ratp.fr/informer/pdf/orienter/f_plan.php?nompdf=metro_geo&loc=secteur&fm=pdf", target: "_blank"} 
            = t('dynamic_translations.getting_venue.underground.link')
          = t('dynamic_translations.getting_venue.underground.part_two')
          %ul
            %li
              Porte de la Villette (Line 7)
            %li
              Porte de Pantin (Line 5)
        %p.text-center
          %b
            = t('dynamic_translations.getting_venue.bus.title')
          %br
          = t('dynamic_translations.getting_venue.bus.part_one')
          %ul
            %li
              Porte de Pantin: bus n°75
            %li
              Canal de l’Ourcq: bus n°60
        %p.text-center
          %b
            = t('dynamic_translations.getting_venue.trams.title')
          %br
          = t('dynamic_translations.getting_venue.trams.part_one')
          \:
          = t('dynamic_translations.getting_venue.trams.part_two')
        %p.text-center
          %b
            = t('dynamic_translations.getting_venue.bike.title')
          %br
          %a{href: "http://en.velib.paris.fr/How-it-works", target: "_blank"} 
            Velib’ 
          = t('dynamic_translations.getting_venue.bike.part_one')
        %p.text-center
          %img{:src => '/assets/OuiShare_Fest_Map_large.png', :alt => 'ouishare coming map'}


    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.getting_venue.taxi.title')
        %p.text-center
          = t('dynamic_translations.getting_venue.taxi.part_one')
          %a{href: "http://taxifortwo.co.uk/", target: "_blank"} 
            = t('dynamic_translations.getting_venue.taxi.link')


    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.getting_venue.airport.title')
        %p.text-center
          = t('dynamic_translations.getting_venue.airport.part_one')
          %ol
            %li
              = t('dynamic_translations.getting_venue.airport.part_two')
            %li
              = t('dynamic_translations.getting_venue.airport.part_three')
        %p.text-center
          = t('dynamic_translations.getting_venue.airport.part_four')
          %ol
            %li
              = t('dynamic_translations.getting_venue.airport.part_five')
            %li
              = t('dynamic_translations.getting_venue.airport.part_six')
            %li
              = t('dynamic_translations.getting_venue.airport.part_seven')

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.getting_venue.car.title')
        %p.text-center
          %b
            = t('dynamic_translations.getting_venue.car.part_one')
          = t('dynamic_translations.getting_venue.car.part_two')
          %a{href: "http://www.mobypark.com/", target: "_blank"}
            Mobypark
          or
          %a{href: "http://www.monsieurparking.com/", target: "_blank"}
            Monsieur Parking
          \.
        %p.text-center
          %b
            = t('dynamic_translations.getting_venue.car.part_three')
          %br
          = t('dynamic_translations.getting_venue.car.part_four')
          %br
        %p.text-center
          %b
            = t('dynamic_translations.getting_venue.car.part_five')
          %ul
            %li
              = t('dynamic_translations.getting_venue.car.part_six')
            %li
              = t('dynamic_translations.getting_venue.car.part_seven')



          




