.main_bg
  .container
    .main-section{style: "padding-top:7%;"}
      .row
        #head_logo
          = image_tag "/assets/logo-fest-2016-coral.svg", :style => "height:250px;margin-top:20px"
      .row
        .col-md-10.col-md-offset-1
          %h1.main-title{:style => "color:#f56c6c"}
            = t('dynamic_translations.main.title')
        .col-md-8.col-md-offset-2
          / %p.main-section-paragraphes.white
          /   = t('dynamic_translations.main.subtitle')
          %p.main-section-paragraphes
            = t('dynamic_translations.main.date')
          / %p.centered.join_bouton
          /   %a{:href => 'join#_tickets'}
          /     %button.btn.btn-embossed.btn-primary
          /       = t('dynamic_translations.reminder_ticket.getyourtickets')

      = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
        .row.text-center
          .col-md-offset-3.col-md-4
            = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
          .col-md-2.btn-pink.submit-email-button
            = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-pink", :style => "padding: 9px 12px 10px;"

      .row
        .col-md-8.col-md-offset-2
          %br
          %br
          %p.centered.join_bouton
            %a{:href => 'join#_tickets'}
              %button.btn.btn-embossed.btn-primary
                = t('dynamic_translations.reminder_ticket.getyourtickets')

/ Speakers

#speakers{style: "padding-top:7%;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.speakers.title')
      %hr.pink
      - if !@displayed_speakers.blank?
        .ch-grid
          - @displayed_speakers.each do |speaker|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/speaker_display", :speaker => speaker
          - if !@hidden_speakers.blank?
            %div
              #allspeakers{style: "display: none;"}
                - @hidden_speakers.each do |speaker|
                  .col-lg-3.individuals-list-display
                    %li
                      = render "/individuals/partials/speaker_display", :speaker => speaker
              %div.row.mb_20
                %a#btn_showspeakers_down
                  %button.btn.btn-embossed.btn-primary.mt_20
                    = t('dynamic_translations.speakers.show_all')

              %div.row.mb_20.mt_20
                %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
                  = t('dynamic_translations.speakers.hide_all')


/ Best of 2015
.blank_bg#bestof{style: "padding-top:7%;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.video.section_title')
      %hr.pink
    .row{style:"padding-top: 3%"}
      .col-md-4{style:"position: relative"}
        .col-md-12
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/zQYv6Rp6t-Y", style:"position:absolute;top:0;left:0;width:100%;height:100%"}
        .col-md-12
          %br
          %p
            Redesigning our Political System for the Internet Era
            %br
            Pia Mancini
      .col-md-4{style:"position: relative"}
        .col-md-12
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/hkU3DbgQkaQ", style:"position:absolute;top:0;left:0;width:100%;height:100%"}
        .col-md-12
          %br
          %p
            How to finance your platform?
            %br
            Robin Chase
      .col-md-4{style:"position: relative"}
        .col-md-12
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/TAUTmxo1sCY", style:"position:absolute;top:0;left:0;width:100%;height:100%"}
        .col-md-12
          %br
          %p
            You are the product
            %br
            Aral Balkan
    .row.centered{:style => "margin-bottom:100px;"}
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{href: "https://www.youtube.com/playlist?list=PL8Bt3EbdmpKM4tYKyERKbp6VMYTjYZwCF", :target => "_blank", :style => "width: 170px;"}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.video.see_all')


/ OuiShare News 2016 static
.blank_bg#news{style: "padding-top:7%;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ouishare-news.title')
      %hr.pink
    .row{style:"padding-top: 3%"}
      .col-md-4{style:"position: relative"}
        .col-md-12
          %a{href: "http://magazine.ouishare.net/2015/11/decentralizing-part-of-ouishare-with-blockchain-experiment-1/"}
            %img{style:"display:block;width:100%;height:auto", src:"http://magazine.ouishare.net/wp-content/uploads/2015/11/decentralization-osfest-1050x639.png"}
        .col-md-12
          %br
          %p
            %a{href: "http://magazine.ouishare.net/2015/11/decentralizing-part-of-ouishare-with-blockchain-experiment-1/"}
              Decentralizing (part of) OuiShare with blockchain: Experiment 1
            %br
            Francesca Pick
      .col-md-4{style:"position: relative"}
        .col-md-12
          %a{href: "http://magazine.ouishare.net/2015/11/call-for-contributions-now-open-submit-your-idea-for-ouishare-fest-2016/"}
            %img{style:"display:block;width:100%;height:auto", src:"http://magazine.ouishare.net/wp-content/uploads/2015/11/call-for-contributions-20163-1050x616.jpg"}
        .col-md-12
          %br
          %p
            %a{href: "http://magazine.ouishare.net/2015/11/call-for-contributions-now-open-submit-your-idea-for-ouishare-fest-2016/"}
              Call for Contributions now open: Submit your idea for OuiShare Fest 2016
            %br
            Khushboo Balwani
      .col-md-4{style:"position: relative"}
        .col-md-12
          %a{href: "http://magazine.ouishare.net/2015/07/uber-wars-an-interview-with-pierre-dimitri-gore-coty/"}
            %img{style:"display:block;width:100%;height:auto", src:"http://magazine.ouishare.net/wp-content/uploads/2015/07/uberfest-335x184.png"}
        .col-md-12
          %br
          %p
            %a{href: "http://magazine.ouishare.net/2015/07/uber-wars-an-interview-with-pierre-dimitri-gore-coty/"}
              Uber Wars: An interview with Pierre-Dimitri Gore-Coty
            %br
            Arthur De Grave
    .row.centered{:style => "margin-bottom:100px;"}
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{href: "http://magazine.ouishare.net/tag/ouisharefest/", :target => "_blank", :style => "width: 170px;"}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.news.see_all')


/ OuiShare News
/ .ouishare-news-section
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.ouishare-news.title')
/       %hr.pink

/   #slider-container.text-center{:style => "min-height:100%;"}
/     #slider1_container{:style => "position: relative; top: 0px; left: 0px; width: 1200px; height: 300px;"}
/       / Slides Container
/       %div.scale-jssor{:style => "cursor: move; position: absolute; left: 0px; top: 0px; width: 1200px; height: 300px; overflow: hidden;", :u => "slides"}
/         - @magazines.each do |f|
/           %div
/             - if !f.content.split('img')[1].nil?
/               %img{:src => "#{f.content.split(' ')[3].split('"')[1].gsub(/-150x150/, "")}", :u => "image"}
/               %span.presentation.ouishare_stencil.white
/                 = f.name
/               %span.btn.btn-blue{:style => "position:absolute; width: 100px; height: 50px; top: 70%; left: 40%;"}
/                 %a{href: "#{f.url}", target:"blank"}
/                   Read More
/             - else
/               = image_tag "/assets/landing_logo.png", :style => "height:150px;"
/               %span.presentation.ouishare_stencil.white
/                 = f.name
/               %span.btn.btn-blue{:style => "position:absolute; width: 100px; height: 50px; top: 70%; left: 40%;"}
/                 %a{href: "#{f.url}", target:"blank"}
/                   Read More

/       %span.jssora13l{:style => "width: 40px; height: 50px; top: 123px; left: 30px;", :u => "arrowleft"}
/       / Arrow Right
/       %span.jssora13r{:style => "width: 40px; height: 50px; top: 123px; right: 30px", :u => "arrowright"}

/ About the Fest
.blank_bg#_about
  .container
    .second-section
      .row.centered
        %h3.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center{:style => "font-size:20px;background-color: #f56c6c; line-height: 1.5em;"}
          = t('dynamic_translations.about.subtitle')
      .row.centered{:style => "padding-bottom:0"}
        .col-md-6.col-md-offset-3
          /.col-xs-6.col-xs-offset-3
          / %br
          / %br
          %p
            = t('dynamic_translations.about.p1')
          %br
          %p
            = t('dynamic_translations.about.p2')
          %br
          %p
            = t('dynamic_translations.about.p3')


.tickets.blank_bg
  .container.tickets-section
    .row.centered
      .col-md-10.col-md-offset-1.col-sm-12
        %h3.ouishare_stencil.centered
          = t('dynamic_translations.tickets.title')
        %hr.pink
        %br
        %br
        %p.pink
          = t('dynamic_translations.tickets.description1')
          %a{href: "/join#_getinvolved"}
            = t('dynamic_translations.tickets.get_involved')
        %p.text-center
          = image_tag("2016-tickets-#{I18n.locale}-03.png", width: "100%", alt: "Ticket options")
          / %img{:src => '/assets/2016-tickets-en-03.png', :alt => 'Ticket options', :style => "max-width: 100%"}
          / %img{:src => '/assets/2016-tickets-fr-03.png', :alt => 'Options billets', :style => "max-width: 100%"}
        %br
        %br

        / Eventbrite form
        %div{:style => "width:100%; text-align:left; padding: 0 1.6em;"}
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "520", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :src => "http://www.eventbrite.com/tickets-external?eid=19202830182&ref=etckt&v=2", :vspace => "0", :width => "100%"}
          %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
            %a{:href => "http://www.eventbrite.com/r/etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} 
              =t('dynamic_translations.tickets.event_registration_online')
            %span{:style => "color:#ddd;"} 
              =t('dynamic_translations.tickets.for')
            %a{:href => "https://www.eventbrite.com/e/ouishare-fest-paris-2016-tickets-19202830182?aff=eac2", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} OuiShare Fest 2016
            %span{:style => "color:#ddd;"} 
              =t('dynamic_translations.tickets.powered_by')
            %a{:href => "http://www.eventbrite.com?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Eventbrite






/ Petit Fest 
/ #_petit_fest.aboutouishare-section{style: "margin-top:40px;"}
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.petit_fest.title')
/       %hr.blue
/       %br
/       %br
/       .container.round_fond
/         .row
/           .col-md-8.col-md-offset-2
/             %p
/               %b
/                 = t('dynamic_translations.petit_fest.subtitle')
/             %p
/               = t('dynamic_translations.petit_fest.text1')
/               %a{:href => '#_love_party'}
/                 = t('dynamic_translations.love_party.title')
/               = t('dynamic_translations.petit_fest.text2')
/             %p
/               = t('dynamic_translations.petit_fest.text3')

/         .row
/           .col-md-10.col-md-offset-1
/             .col-md-12
/               .btn.btn-pink{:style => 'margin: 0px 0px 40px 0px;'}
/                 %a{:href => '/freelancers'}
/                   = t('dynamic_translations.petit_fest.get_ticket')
/               .btn.btn-pink{:style => 'margin: 0px 0px 40px 0px;'}
/                 %a{:href => '/assets/petit_fest_2015.png'}
/                   = t('dynamic_translations.petit_fest.see_program')
/             .col-md-12
/               %a{:href => '/assets/petit_fest_2015.png'}
/                 %img.img-responsive{:src => '/assets/petit_fest_crop.png', :alt => 'Petit Fest program', :style => 'margin:auto;'}



/ Partners
.partners-container{:style => "padding-top:130px;"}
  .container.sinfo
    - if !@partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 3
      %br
      %br

    - if !@media_partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.media_partner_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false
      %br
      %br

    - if !@friends.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.friends_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

      %br
      %br


    - if !@supporters.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.supporters_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @supporters, :important_partners_display => false


.become_partner
  .container 
    .row.centered
      .col-md-4.col-md-offset-4.col-sm-12
        .btn.btn-pink.become-partner-btn
          %a{:href => 'mailto:partners@ouisharefest.com'}
            / Become a partner
            = t('dynamic_translations.partners.button')

/ Get Involved

.get-involved-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.get_involved.title')
      %hr.pink
      %br
      %p
        = t('dynamic_translations.get_involved.description')
    %br

    .centered.get-involved-options-choice
      .span-centered
        .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.program_call_txt')
            %a{href: "https://ouisharefest.typeform.com/to/TTSxdV", target: "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                =t('dynamic_translations.get_involved.program_call_btn')
          .col-md-4
            .title
              = t('dynamic_translations.get_involved.volunteers_join_txt')
            %a{href: "http://goo.gl/forms/E6WNmnFKs7", :target => "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                =t('dynamic_translations.get_involved.volunteers_apply_btn')
          / .col-md-4
          /   .title
          /     = t('dynamic_translations.get_involved.volunteers_join_txt')
          /   %a{href: "mailto:volunteers@ouisharefest.com", :target => "_blank"}
          /     %button.btn.btn-embossed.btn-primary.get-involved-btn
          /       =t('dynamic_translations.get_involved.volunteers_join_btn')
          / .col-md-4
          /   .title
          /     =t('dynamic_translations.get_involved.awards_apply_txt')
          /   %a{href: "http://awards.ouishare.net/2016/applications/", target: "_blank"}
          /     %button.btn.btn-pink.get-involved-btn
          /       =t('dynamic_translations.get_involved.awards_apply_btn')
          / .col-md-4
          /   .title
          /     =t('dynamic_translations.get_involved.awards_vote_txt')
          /   %a{href: "http://awards.ouishare.net/2015/vote/", target: "_blank"}
          /     %button.btn.btn-pink.get-involved-btn
          /       =t('dynamic_translations.get_involved.awards_vote_btn')
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.partners_txt')
            %a{href: "mailto:partners@ouisharefest.com", :target => "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                = t('dynamic_translations.get_involved.partners_btn')


/ About OuiShare
.aboutouishare-section.heart_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about.ouishare_title')
      %hr.pink
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p{:style => "padding-top:30px"}
              = t('dynamic_translations.about.ouishare_text')

        .row
          .col-md-8.col-md-offset-2
            .col-md-12
              %img{:src => '/assets/coeur-aboutouishare.png', :alt => 'OuiShare logo'}
            .col-md-12
              %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
                %button.btn.btn-embossed.btn-primary{:style => 'margin: 40px 0px 0px 0px;'}
                  = t('dynamic_translations.about.ouishare_btn')

  - if !@visited
    = render "modals/visit_modal"