
#headerwrap.main_bg
  .container
    .row.main-section   
      #head_logo   
        = image_tag "/assets/logo-fest-web_W.png", :style => "height:250px;margin:35px 0px 25px 0px;"
      .col-md-10.col-md-offset-1.margin-bot
        %h1
          .main-title
            = t('dynamic_translations.main.title')

          %p.main-section-paragraphes
            = t('dynamic_translations.main.subtitle')
            / A three-day festival about the collaborative economy
          %p.main-section-paragraphes
            = t('dynamic_translations.main.event')
                     
          = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
            .row.text-center
              .col-md-offset-3.col-md-4
                = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => "Type your email to stay tuned"
              .col-md-2.submit-email-button        
                = submit_tag "Stay tuned", :class => "btn btn-primary"
        %br/
        
        %a{href: "https://www.facebook.com/OuiShare", target: "_blank"}
          %img{src: "/assets/facebook.svg", width: "48px"}/
        %a{href: "https://twitter.com/OuiShareFest", target: "_blank"}
          %img{src: "/assets/twitter.svg", width: "48px"}/
        %a{href: "https://plus.google.com/+OuishareNet", target: "_blank"}
          %img{src: "/assets/g-plus-icon-vector.svg", width: "48px"}/
        / %span.twitter-hashtag
        /   \#OSFest14

#about.grey_bg
  .container{:style => "width:60% !important;"}
    %h3.ouishare_stencil.text-center#_about{:style => "font-size:25px;"}
      = t('dynamic_translations.about.subtitle')
    %p 
      = t('dynamic_translations.about.description')
    %br
    .row
      %a{:href => 'about#_about'}
        %button.btn.btn-embossed.btn-primary
          = t('dynamic_translations.readmore.title')
    %br
    .row
      %iframe{:width => "640", :height => "390", :src => "//www.youtube.com/embed/e-5H02dpHXM", :frameborder => "0", :allowfullscreen => 'true'}

#speakers.blue_bg#_speakers 
  .container
    .row.centered
      %h3.ouishare_stencil.white
        = t('dynamic_translations.speakers.title')
      %hr
      -if !@displayed_speakers.blank?
        .ch-grid
          - @displayed_speakers.each do |speaker|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/speaker_display", :speaker => speaker
      %div.row.mb_20
        %a{:href => 'participants#_speakers'}
          %button.btn.btn-embossed.btn-primary.mt_20
            = t('dynamic_translations.speakers.show_all')
          - if !@hidden_speakers.blank?
            %div
              #allspeakers{style: "display: none;"}  
                - @hidden_speakers.each do |speaker|
                  .col-lg-3.individuals-list-display
                    %li
                      = render "/individuals/partials/speaker_display", :speaker => speaker              
              / %div.row.mb_20
              /   %a#btn_showspeakers_down
              /     %button.btn.btn-embossed.btn-primary.mt_20
              /       = t('dynamic_translations.speakers.show_all')
                    
              / %div.row.mb_20.mt_20
              /   %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
              /     = t('dynamic_translations.speakers.hide_all')

      
#tickets.triangle_bg#_tickets 
  .container.tickets-section 
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.tickets.title')
      %br      
      %br
      .container.round_fond
        
        %h4{:style => "font-size:18px;"}
          =t('dynamic_translations.tickets.short_description')
        %h4{:style => "font-size:18px;"}
          %a{href: "join#_tickets"} 
            = t('dynamic_translations.tickets.find_out_more')
      %br
      %div{:style => "width:100%; text-align:left;"}
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "800", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :src => "http://www.eventbrite.com/tickets-external?eid=10108670305&ref=etckt&v=2", :vspace => "0", :width => "100%"}
        %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
          %a{:href => "http://www.eventbrite.com/r/etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} 
            =t('dynamic_translations.tickets.event_registration_online')
          %span{:style => "color:#ddd;"} 
            =t('dynamic_translations.tickets.for')
          %a{:href => "https://www.eventbrite.es/e/ouishare-fest-2014-tickets-10108670305?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} OuiShare Fest 2014
          %span{:style => "color:#ddd;"} 
            =t('dynamic_translations.tickets.powered_by')
          %a{:href => "http://www.eventbrite.com?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Eventbrite
     
.partners-container#_partners{:style => 'padding-top:130px'}
  .container.sinfo
    - if !@partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.title')
        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 7
      %br
      %br

    - if !@media_partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.media_partner_title')

        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false

      %br
      %br

    - if !@friends.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.friends_title')

        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

      %br
      %br

    - if !@supporters.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.supporters_title')

        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @supporters, :important_partners_display => false


.get-involved-section
  .centered.get-involved-punchline    
    %h6
      = t('dynamic_translations.partners.become_a_partner')
      %br
      %a{:href => "mailto:partners@ouisharefest.com"} partners@ouisharefest.com


- if !@visited
  = render "modals/visit_modal"
