
#headerwrap.main_bg
  .container
    .row.main-section   
      #head_logo   
        = image_tag "/assets/logo-fest-web_W.png", :style => "height:250px;margin:35px 0px 25px 0px;"
      .col-md-10.col-md-offset-1.margin-bot
        %h1
          .main-title
            = t('dynamic_translations.main.title')

          %p.main-section-paragraphes
            = t('dynamic_translations.main.subtitle')
            / A three-day festival about the collaborative economy
          %p.main-section-paragraphes
            = t('dynamic_translations.main.event')
                     
          = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
            .row.text-center
              .col-md-offset-3.col-md-4
                = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => "Type your email to stay tuned"
              .col-md-2.submit-email-button        
                = submit_tag "Stay tuned", :class => "btn btn-primary"
        %br/
        
        %a{href: "https://www.facebook.com/OuiShare", target: "_blank"}
          %img{src: "/assets/facebook.svg", width: "48px"}/
        %a{href: "https://twitter.com/OuiShareFest", target: "_blank"}
          %img{src: "/assets/twitter.svg", width: "48px"}/
        / %span.twitter-hashtag
        /   \#OSFest14

#about.grey_bg#_about
  .container{:style => "width:60% !important;"}
    %h3.naiv_thin.text-center{:style => "font-size:25px;text-transform:none;padding:20px;"}
      = t('dynamic_translations.about.subtitle')
    %p 
      = t('dynamic_translations.about.description')
    %br
    %br
    %p
      = t('dynamic_translations.what_is_community.text1')
    %br
    %p
      = t('dynamic_translations.what_is_community.text2')
    %br
    %p
      = t('dynamic_translations.what_is_community.text3')

#speakers.blue_bg#_speakers 
  .container
    .row.centered
      %h3.naiv_thin_white
        = t('dynamic_translations.speakers.title')
      %hr
      -if !@displayed_speakers.blank?
        .ch-grid
          - @displayed_speakers.each do |speaker|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/speaker_display", :speaker => speaker
          - if !@hidden_speakers.blank?
            %div
              #allspeakers{style: "display: none;"}  
                - @hidden_speakers.each do |speaker|
                  .col-lg-3.individuals-list-display
                    %li
                      = render "/individuals/partials/speaker_display", :speaker => speaker              
              %div.row.mb_20
                %a#btn_showspeakers_down
                  %button.btn.btn-embossed.btn-primary.mt_20
                    = t('dynamic_translations.speakers.show_all')
                    
              %div.row.mb_20.mt_20
                %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
                  = t('dynamic_translations.speakers.hide_all')

#involved.grey_bg#_getinvolved{:style => 'padding-top:130px'}
  .get-involved-section
    .container.sinfo
      .row.centered
        %h3.naiv_thin
          = t('dynamic_translations.get_involved.title')
        %hr
      .container
      %br  
      %p.text-center
        = t('dynamic_translations.get_involved.description')
      %br
        
      .row.get-involved-options-choice
        .col-md-9.span-centered
          .row
            .col-md-4.pricing-table.turquoise.bordered.plain
              %ul.centered.alt
                %li.title
                  = t('dynamic_translations.get_involved.call_for_proposal')
                %li{:style => "min-height:140px;"}
                  = t('dynamic_translations.get_involved.option_1')
                %li.button
                  %a.btn.btn-large.button-call-to-action-option{href: "https://docs.google.com/forms/d/1xwFAL9C5AHZgBAeC6tGD6_eX0Ca1u00ZawZEueHczII/viewform", :target => "_blank"} 
                    =t('dynamic_translations.get_involved.submit')
            .col-md-4.pricing-table.turquoise.bordered.plain
              %ul.centered.alt
                %li.title
                  =t('dynamic_translations.get_involved.join_the_team') 
                %li{:style => "min-height:140px;"}
                  = t('dynamic_translations.get_involved.option_2')
                %li.button
                  %a.btn.btn-large.button-call-to-action-option{href: "https://docs.google.com/forms/d/15QpVEkvXR9-DpAKLYoUSPOXrfnYRG9aCPnMoK3WUrJo/viewform", :target => "_blank"}
                    = t('dynamic_translations.get_involved.join')
            .col-md-4.pricing-table.turquoise.bordered.plain
              %ul.centered.alt
                %li.title
                  =t('dynamic_translations.get_involved.idea_wall') 
                %li{:style => "min-height:140px;"}
                  = t('dynamic_translations.get_involved.option_3')
                %li.button
                  %a.btn.btn-large.button-call-to-action-option{href: "http://awards.ouisharefest.com", :target => "_blank"}
                    = t('dynamic_translations.get_involved.idea_wall_button')
      
#tickets.triangle_bg#_tickets 
  .container.tickets-section 
    .row.centered
      %br
      %h3.naiv_thin
        = t('dynamic_translations.tickets.title')
      %br      
      %br
      .container.round_fond
        %h4{:style => "font-size:18px;"}
          = t('dynamic_translations.tickets.description')
          %a{href: "http://bit.ly/OSF14SponsoredTicketForm"} 
            = t('dynamic_translations.tickets.apply_tickets_link')
        
          = t('dynamic_translations.tickets.sponsored_tickets')
          %a{:href => "http://bit.ly/OSF14StudentForm"}
            = t('dynamic_translations.tickets.sponsored_tickets_link')
        %h4{:style => "font-size:18px;"}
          =t('dynamic_translations.tickets.sponsored_tickets_text2')
      %br
      %div{:style => "width:100%; text-align:left;"}
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "800", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :src => "http://www.eventbrite.com/tickets-external?eid=10108670305&ref=etckt&v=2", :vspace => "0", :width => "100%"}
        %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
          %a{:href => "http://www.eventbrite.com/r/etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} 
            =t('dynamic_translations.tickets.event_registration_online')
          %span{:style => "color:#ddd;"} 
            =t('dynamic_translations.tickets.for')
          %a{:href => "https://www.eventbrite.es/e/ouishare-fest-2014-tickets-10108670305?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} OuiShare Fest 2014
          %span{:style => "color:#ddd;"} 
            =t('dynamic_translations.tickets.powered_by')
          %a{:href => "http://www.eventbrite.com?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Eventbrite

      
      - if @ouishare_fest_attendees && !@ouishare_fest_attendees["attendees"].blank?
        %h4.who-s-coming-title
          = t('dynamic_translations.tickets.who_s_coming') 
        %ul.unstyled.attendees-list
          - attendees = @ouishare_fest_attendees["attendees"].first(ENV["EVENTBRITE_ATTENDEES_DISPLAY_NUMBER"].to_i)
          - attendees.each do |attendee|
            .col-xs-4.col-sm-2.col-md-2.col-lg-2
              %li.attendee-items
                / =image_tag display_gravatar(attendee["attendee"]["email"]), :class => 'img-circle'
                .row{:style => "color:white;"}                  
                  = attendee["attendee"]["first_name"]
                  = attendee["attendee"]["last_name"][0]+'.'
                .row
                  = attendee["attendee"]["company"]
              
          - if @ouishare_fest_attendees["attendees"].count > ENV["EVENTBRITE_ATTENDEES_DISPLAY_NUMBER"].to_i  
            %div
              #allattendees{style: "display: none;"} 
                - attendees = @ouishare_fest_attendees["attendees"].last(@ouishare_fest_attendees["attendees"].count - ENV["EVENTBRITE_ATTENDEES_DISPLAY_NUMBER"].to_i)
                - attendees.each do |attendee|
                        
                  .col-xs-4.col-sm-2.col-md-2.col-lg-2
                    %li.attendee-items
                      / =image_tag display_gravatar(attendee["attendee"]["email"]), :class => 'img-circle'
                      .row{:style => "color:white;"}                     
                        = attendee["attendee"]["first_name"]
                        = attendee["attendee"]["last_name"][0]+'.'
                      .row
                        = attendee["attendee"]["company"]
                    
              %br   
              %div.row
                %a.individuals-list-btn#btn_attendees_down
                  %button.btn.btn-embossed.btn-primary 
                    = t('dynamic_translations.tickets.show_all_attendees')
              %div.row 
                %a.individuals-list-btn#btn_attendees_up        
                  %button.btn.btn-embossed.btn-primary
                    = t('dynamic_translations.tickets.hide_all_attendees')
     
.partners-container#_partners{:style => 'padding-top:130px'}
  .container.sinfo
    - if !@partners.blank?
      .row.centered
        %h3.naiv_thin
          = t('dynamic_translations.partners.title')
        %hr
      = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 7
      %br
      %br

    - if !@media_partners.blank?
      .row.centered
        %h3.naiv_thin
          = t('dynamic_translations.partners.media_partner_title')

        %hr
      = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false

      %br
      %br

    - if !@friends.blank?
      .row.centered
        %h3.naiv_thin
          = t('dynamic_translations.partners.friends_title')

        %hr
      = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

.get-involved-section
  .centered.get-involved-punchline    
    %h6
      = t('dynamic_translations.partners.become_a_partner')
      %br
      %a{:href => "mailto:partners@ouisharefest.com"} partners@ouisharefest.com


#team.blank_bg#_team
  .container
    .row.centered
      %h3.naiv_thin
        =t('dynamic_translations.team.title')     
      %hr/   
      - if !@team_members.blank?
        .ch-grid
          - @team_members.each do |team_member|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/team_member_display", :team_member => team_member          
          / - if !@hidden_team_members.blank?
          /   %div
          /     #allteam_members{style: "display: none;"}  
          /       - @hidden_team_members.each do |team_member|
          /         .col-lg-3.individuals-list-display
          /           %li
          /             = render "/individuals/partials/team_member_display", :team_member => team_member           
          /     %div.row
          /       %a#btn_team_members_down
          /         %button.btn.btn-embossed.btn-primary 
          /           = t('dynamic_translations.team.show_all')
          /     %div.row  
          /       %a.hide#btn_team_members_up            
          /         %button.btn.btn-embossed.btn-primary
          /           = t('dynamic_translations.team.hide_all')
      %br
      %br
      .container
        %p
          =t('dynamic_translations.team.description') 

- if !@visited
  = render "modals/visit_modal"
