.first-part
  .container
    .main-section
      .row
        #head_logo
          = image_tag "/assets/landing_logo.png", :style => "height:250px;margin-top:40px"
      .row
        .col-md-10.col-md-offset-1
          %h1.main-title.white
            = t('dynamic_translations.main.title')
        .col-md-8.col-md-offset-2
          %p.main-section-paragraphes.white
            = t('dynamic_translations.main.subtitle')
          %p.main-section-paragraphes.white
            = t('dynamic_translations.main.event')
          %p.centered.join_bouton
            %a{:href => 'join#_tickets'}
              %button.btn.btn-embossed.btn-primary{:style => "background-color: white; color: #E03E51"}
                = t('dynamic_translations.reminder_ticket.getyourtickets')

      = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
        .row.text-center
          .col-md-offset-3.col-md-4
            = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
          .col-md-2.submit-email-button
            = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-primary"


    .second-section
      .row
        %h3.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center#_about{:style => "font-size:20px;"}
          = t('dynamic_translations.about.subtitle')
      .row
        .col-md-6.col-md-offset-3
          /.col-xs-6.col-xs-offset-3
          %br
          %br
          %p.white
            = t('dynamic_translations.about.description')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text1')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text2')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text3')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text4')
          %br
          %p.white
            = t('dynamic_translations.what_is_community.text5')
          %br
          %br
          %br
          %p.topics.row.centered
            = image_tag "/assets/coeur-key-topic.png"

    .third-section
      .row.centered
        %h3.ouishare_stencil.white
          = t('dynamic_translations.topics.title')
          /Key topics
        %hr.white
        %br/
        %br/
      .row
        .col-md-6.col-md-offset-3
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-2-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.collcon_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.collcon_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/crowdfunding-icon-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.cf_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.cf_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/open-knowledge-icon.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.ok_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.ok_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.om_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.om_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/horizontal-governance-icon-blue.png"
            .col-xs-4
              %h5
                = t('dynamic_translations.topics.gov_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.gov_desc')
        .col-md-6.col-md-offset-3.space_background
          %br

#speakers
  .container
    .row.centered
      %h3.ouishare_stencil{style: "color: #E03E52;"}
        = t('dynamic_translations.speakers.title')
      %hr.pink
      - if !@displayed_speakers.blank?
        .ch-grid
          - @displayed_speakers.each do |speaker|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/speaker_display", :speaker => speaker
          - if !@hidden_speakers.blank?
            %div
              #allspeakers{style: "display: none;"}
                - @hidden_speakers.each do |speaker|
                  .col-lg-3.individuals-list-display
                    %li
                      = render "/individuals/partials/speaker_display", :speaker => speaker
              %div.row.mb_20
                %a#btn_showspeakers_down
                  %button.btn.btn-embossed.btn-primary.mt_20
                    = t('dynamic_translations.speakers.show_all')

              %div.row.mb_20.mt_20
                %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
                  = t('dynamic_translations.speakers.hide_all')

.tickets
  .container.tickets-section
    .row
      .col-md-6.col-md-offset-3
        %h3.ouishare_stencil.white.centered
          = t('dynamic_translations.tickets.title')
        %hr.white
        %br
        %br
        %p.white
          = t('dynamic_translations.tickets.description1')
          %a{href: "/join#_getinvolved"}
            = t('dynamic_translations.tickets.get_involved')
            = "."
        %p.white
          = t('dynamic_translations.tickets.description2')
          %a{href: "http://bit.ly/OSFest14ticketapplication"}
            = t('dynamic_translations.tickets.apply_tickets_link')
        %br
        %br



        .col-md-12.centered
          .row.centered

            .col-md-8.col-md-offset-2.pricing-table.turquoise.bordered.plain
              %a{href: home_freelancers_path}

                %ul.centered.alt
                  %li.title{:style => "font-family: naiv_normal,Helvetica; color:#E03E51;"}
                    = t('dynamic_translations.tickets.freelancers_small_business')
                  %li.button{:style => "font-family: naiv_normal,Helvetica; padding-top:0px; color:#E03E51;"}
                    = t('dynamic_translations.tickets.freelancers_small_business_desc')
            %br
            %br

            .col-md-8.col-md-offset-2.pricing-table.turquoise.bordered.plain
              %a{href: home_entreprises_path}

                %ul.centered.alt
                  %li.title{:style => "font-family: naiv_normal,Helvetica; color:#E03E51;"}
                    =t('dynamic_translations.tickets.entreprises')
                  %li.button{:style => "font-family: naiv_normal,Helvetica; padding-top:0px; color:#E03E51;"}
                    = t('dynamic_translations.tickets.entreprises_desc')
            %br
            %br
            .col-md-8.col-md-offset-2.pricing-table.turquoise.bordered.plain
              %a{href: home_press_and_media_path}
                %ul.centered.alt
                  %li.title{:style => "font-family: naiv_normal,Helvetica; color:#E03E51;"}
                    =t('dynamic_translations.tickets.press_media')
                  %li.button{:style => "font-family: naiv_normal,Helvetica; padding-top:0px; color:#E03E51;"}
                    %br
                    / = t('dynamic_translations.tickets.entreprises_desc')
            %br
            %br


.partners-container
  .container.sinfo
    - if !@partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 9
      %br
      %br

    - if !@media_partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.media_partner_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false
      %br
      %br

    - if !@friends.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.friends_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

      %br
      %br


    - if !@supporters.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.supporters_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @supporters, :important_partners_display => false


.become_partner
  .container 
    .row.centered
      .col-md-5.col-md-offset-4
        .btn.btn-pink{:style => 'margin: 40px 100px 0px 0px;'}
          %a{:href => 'mailto:partners@ouishare.net'}
            Become a partner

/ Get Involved

.get-involved-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.get_involved.title')
      %hr.pink
      %br
      %p
        = t('dynamic_translations.get_involved.description')
    %br

    .centered.get-involved-options-choice
      .span-centered
        .col-md-10.col-md-offset-1
          .col-md-4
            .title
              = t('dynamic_translations.get_involved.call_for_proposal')
            .btn.btn-pink
              %a{href: "https://docs.google.com/forms/d/1ZTTDVAieu70jO4gL1IvgKtueJJv7A6i86fC_1-vX_sQ/viewform#start=openform"}
                =t('dynamic_translations.get_involved.submit')
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.contribute')
            .btn.btn-pink
              %a{href: "https://docs.google.com/forms/d/146wWTvYuyHrUSXQbWopx5-0JJQymzKUxRxpUd8cVX60/viewform"}
                =t('dynamic_translations.get_involved_closed.submit')
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.idea_wall')
            .btn.btn-pink
              %a{href: "mailto:partners@ouishare.net", :target => "_blank"}
                = t('dynamic_translations.get_involved.idea_wall_button')

.aboutouishare-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about.ouishare_title')
      %hr.blue
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p
              = t('dynamic_translations.about.ouishare_text')

        .row
          .col-md-8.col-md-offset-2
            .col-md-6
              %img{:src => '/assets/coeur-aboutouishare.png', :alt => 'OuiShare logo', :style => 'width:50%;'}
            .col-md-6
              .btn.btn-pink{:style => 'margin: 40px 100px 0px 0px;'}
                %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
                  = t('dynamic_translations.about.ouishare_btn')

  - if !@visited
    = render "modals/visit_modal"