#container.container-fluid.triangles
  #output.triangles
  .container
    .main-section
      .row
        #head_logo
          = image_tag "/assets/logo-fest-2016-white.svg"
      .row
        .col-md-10.col-md-offset-1
          %h1.main-title.white
            = t('dynamic_translations.main.title')
        .col-md-8.col-md-offset-2
          %p.main-section-paragraphes.white
            = t('dynamic_translations.main.date')

      = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
        .row.text-center
          .col-sm-offset-3.col-sm-4.col-xs-offset-2.col-xs-5
            = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
          .col-xs-2.submit-email-button
            = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-primary"

      .row
        .col-md-8.col-md-offset-2
          %br
          %br
          %p.centered.join_bouton
            %a{:href => 'join#_tickets'}
              %button.btn.btn-embossed.btn-primary
                = t('dynamic_translations.reminder_ticket.getyourtickets')

#controls.controls
= javascript_include_tag 'triangles'



/ Speakers

#speakers{style: "padding-top:7%;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.speakers.title')
      %hr.pink
      - if !@displayed_speakers.blank?
        .ch-grid
          - @displayed_speakers.each do |speaker|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/speaker_display", :speaker => speaker
          - if !@hidden_speakers.blank?
            %div
              #allspeakers{style: "display: none;"}
                - @hidden_speakers.each do |speaker|
                  .col-lg-3.individuals-list-display
                    %li
                      = render "/individuals/partials/speaker_display", :speaker => speaker
              %div.row.mb_20
                %a#btn_showspeakers_down
                  %button.btn.btn-embossed.btn-primary.mt_20
                    = t('dynamic_translations.speakers.show_all')

              %div.row.mb_20.mt_20
                %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
                  = t('dynamic_translations.speakers.hide_all')

/ Best of 2015
.blank_bg#bestof{style: "padding-top:7%;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.video.section_title')
      %hr.pink
    .row{style:"padding-top: 3%"}
      .col-md-4{style:"position: relative"}
        .col-md-12
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/Hr683Ldt6dQ", style:"position:absolute;top:0;left:0;width:100%;height:100%"}
        .col-md-12
          %br
          %p
            %a{href: "http://youtu.be/Hr683Ldt6dQ", :target => "_blank"}
              = t('dynamic_translations.video.snapshots')
      .col-md-4{style:"position: relative"}
        .col-md-12
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/puyWrGyi9yg", style:"position:absolute;top:0;left:0;width:100%;height:100%"}
        .col-md-12
          %br
          %p
            %a{href: "http://youtu.be/puyWrGyi9yg", :target => "_blank"}
              Interview with Pierre-Dimitri Gore-Coty from Uber
            / %br
            / Robin Chase
      .col-md-4{style:"position: relative"}
        .col-md-12
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/oERpj4xz9xg", style:"position:absolute;top:0;left:0;width:100%;height:100%"}
        .col-md-12
          %br
          %p
            %a{href: "http://youtu.be/oERpj4xz9xg", :target => "_blank"}
              Analyzing the social & economic impact of collaborative platforms
            %br
            Kathleen Stokes
    .row.centered{:style => "margin-bottom:100px;"}
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{href: "https://www.youtube.com/playlist?list=PL8Bt3EbdmpKM4tYKyERKbp6VMYTjYZwCF", :target => "_blank", :style => "width: 170px;"}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.video.see_all')


/ OuiShare News 2016 dynamic
.blank_bg#news
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ouishare-news.title')
      %hr.pink
    .row{style:"padding-top: 3%"}

      - @magazines.each do |magazine|
        .col-md-4{style:"position: relative; min-height:370px;"}
          - if !magazine.content.split('img')[1].nil?
            .col-md-12
              %a{href: "#{magazine.url}", target:"blank"}
                %img{:src => "#{magazine.content.split(' ')[3].split('"')[1].gsub(/-150x150/, "")}", :u => "image"}
              .col-md-12
              %br
              %p
                %a{href: "#{magazine.url}", target:"blank"}
                  = magazine.name 
                %br
                  = "#{magazine.author}" unless magazine.author.blank?
          - else
            .col-md-12
              %a{href: "#{magazine.url}", target:"blank"}
                = image_tag "/assets/landing_logo.png", :style => "height:150px;"
            .col-md-12
              %br
              %p
                %a{href: "#{magazine.url}", target:"blank"}
                  = magazine.name
                %br
                  = "#{magazine.author}" unless magazine.author.blank?
            
    .row.centered{:style => "margin-bottom:100px;"}
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{href: "http://magazine.ouishare.net/tag/ouisharefest/", :target => "_blank", :style => "width: 170px;"}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.news.see_all')

.triangle_bg_3.white_txt
  .container
    .third-section
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.topics.title')
        %hr.pink
        %br/
        %br/
      .row
        .col-md-8.col-md-offset-2
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.tech_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/horizontal-governance-icon-blue.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.tech_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.om_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-blue.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.om_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.orgs_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/open-knowledge-icon.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.orgs_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.shareco_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-2-blue.png"
            .col-sm-6
              %p
                = t('dynamic_translations.topics.shareco_desc')
          .row
            .col-sm-4
              %h5
                = t('dynamic_translations.topics.cf_title')
            .col-xs-2
              %p.topics
                = image_tag "/assets/crowdfunding-icon-blue.png"            
            .col-sm-6
              %p
                = t('dynamic_translations.topics.cf_desc')

.blank_bg
  .container
    .second-section
      .row.centered
        %h5.col-md-6.col-md-offset-3.ouishare_stencil.white.blue_bg.text-center#_about
          = t('dynamic_translations.about.subtitle')
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          %p{:style => 'margin-top: 35px;'}
            = t('dynamic_translations.about.p1')
          %br
          %p
            = t('dynamic_translations.about.p2')
          %br
          %p
            = t('dynamic_translations.about.p3')

.tickets.triangle_bg_4.white_txt
  .container.tickets-section
    .row.centered{:style => "padding-top:0; padding-bottom:0"}
      .col-md-10.col-md-offset-1.col-sm-12
        %h3.ouishare_stencil.centered
          = t('dynamic_translations.tickets.title')
        %hr.pink
        %br
        %br
        %p
          = t('dynamic_translations.tickets.description1')
          %a{href: "/join#_getinvolved"}
            = t('dynamic_translations.tickets.get_involved')
        %p.text-center
          = image_tag("2016-tickets-#{I18n.locale}-05.png", width: "100%", alt: "Ticket options")
          / %img{:src => '/assets/2016-tickets-en-03.png', :alt => 'Ticket options', :style => "max-width: 100%"}
          / %img{:src => '/assets/2016-tickets-fr-03.png', :alt => 'Options billets', :style => "max-width: 100%"}
        %br
        %br

        / Eventbrite form
        %div.eventbrite
          %iframe.inverse{:allowtransparency => "true", :frameborder => "0", :height => "520", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :src => "http://www.eventbrite.com/tickets-external?eid=19202830182&ref=etckt&v=2", :vspace => "0", :width => "100%"}
          %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
            %a{:href => "http://www.eventbrite.com/r/etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} 
              =t('dynamic_translations.tickets.event_registration_online')
            %span{:style => "color:#ddd;"} 
              =t('dynamic_translations.tickets.for')
            %a{:href => "https://www.eventbrite.com/e/ouishare-fest-paris-2016-tickets-19202830182?aff=eac2", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} OuiShare Fest 2016
            %span{:style => "color:#ddd;"} 
              =t('dynamic_translations.tickets.powered_by')
            %a{:href => "http://www.eventbrite.com?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Eventbrite




/ Partners
.partners-container{:style => "padding-top:3%;"}
  .container.sinfo
    - if !@partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 3
      %br
      %br

    - if !@media_partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.media_partner_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false
      %br
      %br

    - if !@friends.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.friends_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

      %br
      %br


    - if !@supporters.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.supporters_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @supporters, :important_partners_display => false


.become_partner
  .container 
    .row.centered
      .col-md-4.col-md-offset-4.col-sm-12
        .btn.btn-pink.become-partner-btn
          %a{:href => 'mailto:partners@ouisharefest.com'}
            / Become a partner
            = t('dynamic_translations.partners.button')

/ Get Involved

.get-involved-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.get_involved.title')
      %hr.pink
      %br
      %p
        = t('dynamic_translations.get_involved.description')
    %br

    .centered.get-involved-options-choice
      .span-centered
        .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.program_call_txt')
            %a{href: "https://ouisharefest.typeform.com/to/TTSxdV", target: "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                =t('dynamic_translations.get_involved.program_call_btn')
          .col-md-4
            .title
              = t('dynamic_translations.get_involved.volunteers_join_txt')
            %a{href: "http://goo.gl/forms/E6WNmnFKs7", :target => "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                =t('dynamic_translations.get_involved.volunteers_apply_btn')
          / .col-md-4
          /   .title
          /     = t('dynamic_translations.get_involved.volunteers_join_txt')
          /   %a{href: "mailto:volunteers@ouisharefest.com", :target => "_blank"}
          /     %button.btn.btn-embossed.btn-primary.get-involved-btn
          /       =t('dynamic_translations.get_involved.volunteers_join_btn')
          / .col-md-4
          /   .title
          /     =t('dynamic_translations.get_involved.awards_apply_txt')
          /   %a{href: "http://awards.ouishare.net/2016/applications/", target: "_blank"}
          /     %button.btn.btn-pink.get-involved-btn
          /       =t('dynamic_translations.get_involved.awards_apply_btn')
          / .col-md-4
          /   .title
          /     =t('dynamic_translations.get_involved.awards_vote_txt')
          /   %a{href: "http://awards.ouishare.net/2015/vote/", target: "_blank"}
          /     %button.btn.btn-pink.get-involved-btn
          /       =t('dynamic_translations.get_involved.awards_vote_btn')
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.partners_txt')
            %a{href: "mailto:partners@ouisharefest.com", :target => "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                = t('dynamic_translations.get_involved.partners_btn')


/ About OuiShare
.aboutouishare-section.heart_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about.ouishare_title')
      %hr.pink
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p{:style => "padding-top:30px"}
              = t('dynamic_translations.about.ouishare_text')

        .row
          .col-md-8.col-md-offset-2
            .col-md-12
              %img{:src => '/assets/coeur-aboutouishare.png', :alt => 'OuiShare logo'}
            .col-md-12
              %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
                %button.btn.btn-embossed.btn-primary{:style => 'margin: 40px 0px 0px 0px;'}
                  = t('dynamic_translations.about.ouishare_btn')

  - if !@visited
    = render "modals/visit_modal"