
#headerwrap.main_bg
  .container
    .row.main-section   
      #head_logo   
        = image_tag "/assets/landing_logo.png", :style => "height:250px;margin:35px 0px 25px 0px;"
      .col-md-10.col-md-offset-1
        %h1

          %p.main-section-paragraphes
            = t('dynamic_translations.main.subtitle')
            
          = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
            .row.text-center
              .col-md-offset-3.col-md-4
                = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted')
              .col-md-2.submit-email-button        
                = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-primary"        

        %br
        
        %a{href: "https://www.facebook.com/OuiShare", target: "_blank"}
          %img{src: "/assets/facebook.svg", width: "48px"}/
        %a{href: "https://twitter.com/OuiShareFest", target: "_blank"}
          %img{src: "/assets/twitter.svg", width: "48px"}/
        %a{href: "https://plus.google.com/+OuishareNet", target: "_blank"}
          %img{src: "/assets/g-plus-icon-vector.svg", width: "48px"}/
        / %span.twitter-hashtag
        /   \#OSFest14

#about.triangle_bg
  .container{:style => "width:60% !important;"}
    %h3.ouishare_stencil.text-center#_about{:style => "font-size:25px;"}
      = t('dynamic_translations.about.subtitle')
    
    %br
    %br
    %p 
      = t('dynamic_translations.about.description')
    %br
    
    %p
      = t('dynamic_translations.what_is_community.text1')
    %br
    %p
      = t('dynamic_translations.what_is_community.text2')
    %br
    %p
      = t('dynamic_translations.what_is_community.text3')

#highlights.grey_bg#_about_highlights
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.highlight.title')
        / Highlights from 2013
    .row.centered
      .col-md-9.span-centered.margin_25
        %br
        %br
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/QiXmsACpfRY", width: "560"}   
    / .row.centered       
    /   %p{:style => 'color:#ffffff;'}
    /     %br
    /     %br
    /     = t('dynamic_translations.highlight.description')
    /     %br
    /     %br

    .row.mb_20
      .col-md-12
        %a.btn.btn-large.btn-primary{href: "https://www.youtube.com/watch?v=QiXmsACpfRY", :target => "_blank"} 
          = t('dynamic_translations.highlight.see_video_2014')

    .row.centered.top-buffer

      %iframe{ :src => "http://eventifier.com/event/ouisharefest/popular?full_embed=true", :width => "100%", :height => "1150px", :frameborder => "0"}

/     .row.mb_20
/       .col-md-2
/       .col-md-4
/         %a.btn.btn-large.btn-primary{href: "http://www.youtube.com/user/OuiShareTV", :target => "_blank"} 
/           = t('dynamic_translations.highlight.btn_watch_all_sessions')
/           / Watch all sessions from 2013
/       .col-md-4
/         %a.btn.btn-large.btn-primary{href: "http://live.ouisharefest.com", :target => "_blank"} 
/           = t('dynamic_translations.highlight.btn_see_coverage')
/           / See 2013 coverage

/ .grey_bg#_live
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.live_reporting.title')
/       %br      
/       %br
/       .container
/         %p
/           = t('dynamic_translations.live_reporting.paragraph')
    
/     .row.centered.top-buffer

/       %iframe{ :src => "http://eventifier.com/event/ouisharefest/popular?full_embed=true", :width => "100%", :height => "1150px", :frameborder => "0"}
    
/     .row.centered.top-buffer
/       %h3.ouishare_stencil
/         = t('dynamic_translations.live_reporting.stories')

/     .row.centered.top-buffer
/       .col-sm-12.col-md-6.col-lg-6
/         %iframe{ :src => "http://storify.com/OuiShare", :width => "100%", :height =>"674", :frameborder => "no", :allowtransparency => :true, :style => "margin:auto;"}

/       .col-sm-12.col-md-6.col-lg-6
/         %iframe{ :src => "http://blog.ouisharefest.com/", :width => "100%", :height =>"674", :frameborder => "no", :allowtransparency => :true, :style => "margin:auto;"}


/     .row.centered.top-buffer
/       %h3.ouishare_stencil
/         = t('dynamic_translations.live_reporting.listen')

/     .row.centered.top-buffer
/       %iframe{ :width => '940', :height => '546', :style => "-ms-zoom: 1; -moz-transform: scale(1); -moz-transform-origin: 0 0; -o-transform: scale(1); -o-transform-origin: 0 0; -webkit-transform: scale(1); -webkit-transform-origin: 0 0;", :src => "http://bobler.com/embedmap/app/index.html#/?id=2914", :frameborder => "0"}


/ #speakers.blue_bg#_speakers 
/   .container
/     .row.centered
/       %h3.ouishare_stencil.white
/         = t('dynamic_translations.speakers.title')
/       %hr
/       -if !@displayed_speakers.blank?
/         .ch-grid
/           - @displayed_speakers.each do |speaker|
/             .col-lg-3.individuals-list-display
/               %li
/                 = render "/individuals/partials/speaker_display", :speaker => speaker
/       %div.row.mb_20
/         %a{:href => 'participants#_speakers'}
/           %button.btn.btn-embossed.btn-primary.mt_20
/             = t('dynamic_translations.speakers.show_all')
/           - if !@hidden_speakers.blank?
/             %div
/               #allspeakers{style: "display: none;"}  
/                 - @hidden_speakers.each do |speaker|
/                   .col-lg-3.individuals-list-display
/                     %li
/                       = render "/individuals/partials/speaker_display", :speaker => speaker              
/               / %div.row.mb_20
/               /   %a#btn_showspeakers_down
/               /     %button.btn.btn-embossed.btn-primary.mt_20
/               /       = t('dynamic_translations.speakers.show_all')
                    
/               / %div.row.mb_20.mt_20
/               /   %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
/               /     = t('dynamic_translations.speakers.hide_all')

     
/ .partners-container#_partners{:style => 'padding-top:130px'}
/   .container.sinfo
/     - if !@partners.blank?
/       .row.centered
/         %br
/         %h3.ouishare_stencil
/           = t('dynamic_translations.partners.title')
/         %hr.partners
/       = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 7
/       %br
/       %br

/     - if !@media_partners.blank?
/       .row.centered
/         %br
/         %h3.ouishare_stencil
/           = t('dynamic_translations.partners.media_partner_title')

/         %hr.partners
/       = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false

/       %br
/       %br

/     - if !@friends.blank?
/       .row.centered
/         %br
/         %h3.ouishare_stencil
/           = t('dynamic_translations.partners.friends_title')

/         %hr.partners
/       = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

/       %br
/       %br

/     - if !@supporters.blank?
/       .row.centered
/         %br
/         %h3.ouishare_stencil
/           = t('dynamic_translations.partners.supporters_title')

/         %hr.partners
/       = render "/individuals/partials/partners_display", :partners => @supporters, :important_partners_display => false


/ .get-involved-section
/   .centered.get-involved-punchline    
/     %h6
/       = t('dynamic_translations.partners.become_a_partner')
/       %br
/       %a{:href => "mailto:partners@ouisharefest.com"} partners@ouisharefest.com

.yellow_bg#_getinvolved{:style => 'padding-top:130px'}
  .get-involved-section
    .container.sinfo
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.get_involved.title')
        %hr
      .container
      %br  
      %p.text-center
        = t('dynamic_translations.get_involved.description')
      %br
        
      .row.get-involved-options-choice
        .col-md-9.span-centered
          .row
            .col-md-4.pricing-table.turquoise.bordered.plain.col-md-offset-2
              %ul.centered.alt
                %li.title
                  = t('dynamic_translations.get_involved.call_for_proposal')
                %li.button
                  %a.btn.btn-large.button-call-to-action-option{href: "mailto:francesca@ouishare.net"} 
                    =t('dynamic_translations.get_involved.submit')
            .col-md-4.pricing-table.turquoise.bordered.plain
              %ul.centered.alt
                %li.title
                  =t('dynamic_translations.get_involved.idea_wall')
                %li.button
                  %a.btn.btn-large.button-call-to-action-option{href: "http://awards.ouisharefest.com", :target => "_blank"}
                    = t('dynamic_translations.get_involved.idea_wall_button')


- if !@visited
  = render "modals/visit_modal"
