.tickets.triangle_bg_tickets.white_txt#_tickets{:style => "padding-top:120px;"}
  .container
    .row.centered
      .col-md-10.col-md-offset-1.col-sm-12
        %h3.ouishare_stencil.centered
          = t('dynamic_translations.tickets.title')
        %hr.pink
        %br
        %br
        %p
          = t('dynamic_translations.tickets.description1')
          %a{href: "/join#_getinvolved"}
            = t('dynamic_translations.tickets.get_involved')
        .tickets-table
          .row
            .col-md-2.col-md-offset-6.col-xs-4.col-xs-offset-0.title-blue
              = t('dynamic_translations.tickets_table.pioneers')
            .col-md-2.col-xs-4.title-blue
              = t('dynamic_translations.tickets_table.explorers')
            .col-md-2.col-xs-4.title-blue
              = t('dynamic_translations.tickets_table.hackers')
          .tickets-border
            .row.title-inverse
              .col-md-6.col-sm-12.title-inverse
                %span{:style => "padding:2em auto;"}
                  = t('dynamic_translations.tickets_table.core_features')
              .col-md-2.col-xs-4.title-inverse
                = t('dynamic_translations.tickets_price.pioneers_3d')
                %br
                %br
                = t('dynamic_translations.tickets_price.pioneers_1d')
              .col-md-2.col-xs-4.title-inverse
                = t('dynamic_translations.tickets_price.explorers_3d')
                %br
                %br
                = t('dynamic_translations.tickets_price.explorers_1d')
              .col-md-2.col-xs-4.title-inverse
                = t('dynamic_translations.tickets_price.hackers_3d')
                %br
                %br
                = t('dynamic_translations.tickets_price.hackers_1d')
            .row
              .col-md-6.col-sm-12
                = t('dynamic_translations.tickets_table.core_1_access')
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.core_2_food')
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.core_3_partner_events')
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.core_4_access_party')
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.core_5_participants_list')
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
            .row
              .col-md-12.title-inverse{:style => "padding:none;"}
                = t('dynamic_translations.tickets_table.extended_features')
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.ext_3_webinar')
              .col-md-2.col-xs-4
                &nbsp;
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                &nbsp;
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.ext_1_reception')
              .col-md-2.col-xs-4
                &nbsp;
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                &nbsp;
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.ext_welcoming') 
              .col-md-2.col-xs-4
                &nbsp;
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                &nbsp;
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.ext_matchmaking')
              .col-md-2.col-xs-4
                &nbsp;
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                &nbsp;
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.ext_advice')
              .col-md-2.col-xs-4
                &nbsp;
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                &nbsp;
            .row
              .col-md-6
                = t('dynamic_translations.tickets_table.ext_4_book') 
                %em
                  = t('dynamic_translations.tickets_table.ext_4_book_title')
              .col-md-2.col-xs-4
                &nbsp;
              .col-md-2.col-xs-4
                = image_tag "/assets/tickets-tick-white.svg"
              .col-md-2.col-xs-4
                &nbsp;
          %p.left
            = t('dynamic_translations.tickets_table.questions') 
            %b
              %a{:href => 'mailto:partners@ouisharefest.com'}
                partners@ouisharefest.com
        / %br
        / %p.text-center
        /   = image_tag("2016-tickets-#{I18n.locale}-05.png", width: "100%", alt: "Ticket options")
        %br
        %br
        / Eventbrite form
        %div#eventbrite{:style => "width:100%; text-align:left; padding: 0 1.6em;"}
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "640", :hspace => "0", :marginheight => "5", :marginwidth => "5", :scrolling => "auto", :src => "http://www.eventbrite.com/tickets-external?eid=19202830182&ref=etckt&v=2", :vspace => "0", :width => "100%"}
          %div{:style => "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
            %a{:href => "http://www.eventbrite.com/r/etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} 
              =t('dynamic_translations.tickets.event_registration_online')
            %span{:style => "color:#ddd;"} 
              =t('dynamic_translations.tickets.for')
            %a{:href => "https://www.eventbrite.com/e/ouishare-fest-paris-2016-tickets-19202830182?aff=eac2", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} OuiShare Fest 2016
            %span{:style => "color:#ddd;"} 
              =t('dynamic_translations.tickets.powered_by')
            %a{:href => "http://www.eventbrite.com?ref=etckt", :style => "color:#ddd; text-decoration:none;", :target => "_blank"} Eventbrite


/ Get Involved

.get-involved-section#_getinvolved
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.get_involved.title')
      %hr.pink
      %br
      %p
        = t('dynamic_translations.get_involved.description')
    %br

    .centered.get-involved-options-choice
      .span-centered
        .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          / .col-md-4.col-md-offset-2
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.program_call_txt')
            / %a{href: "https://ouisharefest.typeform.com/to/TTSxdV", target: "_blank"}
            %button.btn.btn-embossed.btn-primary.get-involved-btn
              =t('dynamic_translations.get_involved.program_call_btn')
          .col-md-4
            .title
              = t('dynamic_translations.get_involved.volunteers_join_txt')
            %a{href: "http://goo.gl/forms/E6WNmnFKs7", :target => "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                =t('dynamic_translations.get_involved.volunteers_apply_btn')
          / .col-md-4
          /   .title
          /     = t('dynamic_translations.get_involved.volunteers_join_txt')
          /   %a{href: "mailto:volunteers@ouisharefest.com", :target => "_blank"}
          /     %button.btn.btn-embossed.btn-primary.get-involved-btn
          /       =t('dynamic_translations.get_involved.volunteers_join_btn')
          / .col-md-4
          /   .title
          /     =t('dynamic_translations.get_involved.awards_apply_txt')
          /   %a{href: "http://awards.ouishare.net/2016/applications/", target: "_blank"}
          /     %button.btn.btn-embossed.btn-primary.get-involved-btn
          /       =t('dynamic_translations.get_involved.awards_apply_btn')
          / .col-md-4
          /   .title
          /     =t('dynamic_translations.get_involved.awards_vote_txt')
          /   %a{href: "http://awards.ouishare.net/2015/vote/", target: "_blank"}
          /     %button.btn.btn-embossed.btn-primary.get-involved-btn
          /       =t('dynamic_translations.get_involved.awards_vote_btn')
          .col-md-4
            .title
              =t('dynamic_translations.get_involved.partners_txt')
            %a{href: "mailto:partners@ouisharefest.com", :target => "_blank"}
              %button.btn.btn-embossed.btn-primary.get-involved-btn
                = t('dynamic_translations.get_involved.partners_btn')


/ Become a partner
.become_partner
  .container 
    .row.centered
      .col-md-4.col-md-offset-4.col-sm-12
        .btn.btn-pink.become-partner-btn
          %a{:href => 'mailto:partners@ouisharefest.com'}
            / Become a partner
            = t('dynamic_translations.get_involved.partners_txt')


/ Press-media tickets

.blank_bg#_press_media{:style => "margin-top:100px;margin-bottom:100px;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.tickets.press_media')
      %hr.pink  
      %br
      %br
      %br
      %p.text-center{:style => "font-size: 20px; text-align: center;"}
        %a{:href => "mailto:press@ouisharefest.com"}
          = t('dynamic_translations.press_media.request')
        %br
        %br
      %p.text-center{:style => "font-size: 20px; text-align: center;"}
        %a{href: "https://drive.google.com/folderview?id=0B2XLJoIHF74KNVVzR1VLTEZ1a2M&usp=sharing"} 
          = t('dynamic_translations.press_media.download')
        %br


/ Prepare your trip
#_prepare.blank_bg{:style => "margin-bottom:100px;"}
  .container
    .row.centered
      .col-md-6.col-md-offset-3
        %h3.ouishare_stencil
          = t('dynamic_translations.prepare_your_trip.title')
        %hr.pink
        %br
        %br
        %p.text-center
          %b
            = t('dynamic_translations.prepare_your_trip.baseline')
        %p.text-center
          = t('dynamic_translations.prepare_your_trip.description')
        %br
        %br


      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2{:style => "margin-bottom: 20px;"}
        .col-md-8
          %p.text-center
            %b
              = t('dynamic_translations.travel_information.title')
          %p.text-center
            = t('dynamic_translations.travel_information.text')
        .col-md-2
          .btn.btn-pink{:style => "margin-top: 43px;"}
            %a{href: home_travel_information_path, :style => 'text-decoration:none;'}
              = t('dynamic_translations.travel_information.button')


      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2{:style => "margin-bottom: 20px;"}
        .col-md-8
          %p.text-center
            %b
              = t('dynamic_translations.where_to_stay.title')
          %p.text-center
            = t('dynamic_translations.where_to_stay.first_part')
            %a{href: "https://www.couchsurfing.com/groups/ouishare-community", target: "_blank"}
              = t('dynamic_translations.where_to_stay.link')
            = t('dynamic_translations.where_to_stay.second_part')
        .col-md-2
          .btn.btn-pink{:style => "margin-top: 43px;"}
            %a{href: home_where_to_stay_path, :style => 'text-decoration:none;'}
              = t('dynamic_translations.where_to_stay.button')


      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2{:style => "margin-bottom: 20px;"}
        .col-md-8
          %p.text-center
            %b
              = t('dynamic_translations.getting_venue.title')
          %p.text-center
            = t('dynamic_translations.getting_venue.first_part')
        .col-md-2
          .btn.btn-pink{:style => "margin-top: 43px;"}
            %a{href: home_getting_to_the_venue_path, :style => 'text-decoration:none;'}
              = t('dynamic_translations.getting_venue.button')

      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2{:style => "margin-bottom: 20px;"}
        %a{href: "https://www.google.fr/maps/place/Cabaret+Sauvage/@48.8954079,2.3900521,17z/data=!3m1!4b1!4m2!3m1!1s0x47e66dc9c9c1ba1d:0xc71151aa5c6aae51", target: "_blank"}
          %img.img-responsive{:src => '/assets/access-cabaret-2016.png', :alt => 'OuiShare Fest location map'}
      / .row.centered
      /   .col-md-12{:style => "margin-bottom: 20px;"}
      /     %iframe{:src => "https://massmosaic.com/groups/213/embed", :style => "width:100%; height:1260px; border: none;"}

