.blank_bg.page
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.love_party.title')
      %hr.pink
      %br
      %br
    .row.centered
      .col-md-8.col-md-offset-2
        %p
          = t('dynamic_translations.love.cabaret_sauvage')
        %p
          = t('dynamic_translations.love.time')
        %p
          = t('dynamic_translations.love.intro1')
        %p
          = t('dynamic_translations.love.intro2')
    .row.centered
      .col-md-8.col-md-offset-2
        %br
        %br
        %h4
          = t('dynamic_translations.love.get_ready')
        %p
          = t('dynamic_translations.love.doors')
        %p
          %a{:href => 'http://www.radiomeuh.com', :target => '_blank'}
            = t('dynamic_translations.love.livestream')
        %br
    .row.centered
      .col-md-8.col-md-offset-2
        %iframe{:frameborder => "0", :style => "width: 100%; height: 750px;", :src => "https://soundsgood.co/embed/5719dfbc4e4e04ee2d48f1bb", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :height => "750", :width => "100%", :allowfullscreen => ""}
        %br
        %br

    .row.centered
      .col-md-8.col-md-offset-2
        %h4
          = t('dynamic_translations.love.lineup_title')
    .row.centered
      .col-md-8.col-md-offset-2
        %br
        %h5
          TAMPON TANGO
        %p
          Live Band - Electro Pop
        %p
          = t('dynamic_translations.love.tampon_tango_desc')
        %div.col-sm-2.col-sm-offset-4
          %a{:href => "http://www.facebook.com/Tampon-Tango", :target => "_blank"}
            %button.btn.btn-primary
              = t('dynamic_translations.love.facebook') 
        %div.col-sm-2
          %a{:href => "https://www.youtube.com/watch?v=X9IH_Vk5M6k", :target => "_blank"}
            %button.btn.btn-purple
              = t('dynamic_translations.love.listen') 
    .row.centered
      .col-md-8.col-md-offset-2
        %br
        %br
        %h5
          RADIO MEUH
        %p
          Live Mix - Funky, Disco House
        %p
          = t('dynamic_translations.love.radio_meuh_desc')
        %div.col-sm-2.col-sm-offset-3
          %a{:href => "http://www.facebook.com/radiomeuh", :target => "_blank"}
            %button.btn.btn-primary
              = t('dynamic_translations.love.facebook') 
        %div.col-sm-2
          %a{:href => "http://www.radiomeuh.com/", :target => "_blank"}
            %button.btn.btn-fandango
              = t('dynamic_translations.love.website') 
        %div.col-sm-2
          %a{:href => "https://www.mixcloud.com/WORLDWIDEFESTIVAL/phil-radio-meuh/", :target => "_blank"}
            %button.btn.btn-purple
              = t('dynamic_translations.love.listen') 
    .row.centered
      .col-md-8.col-md-offset-2
        %br
        %br
        %h5
          LE LIMONADIER
        %p
          Live Vinyle Session - Electro House
        %p
          = t('dynamic_translations.love.le_limonadier_desc')
        %div.col-sm-2.col-sm-offset-3
          %a{:href => "http://www.facebook.com/Limonadier.net", :target => "_blank"}
            %button.btn.btn-primary
              = t('dynamic_translations.love.facebook') 
        %div.col-sm-2
          %a{:href => "http://www.radiomeuh.com/", :target => "_blank"}
            %button.btn.btn-fandango
              = t('dynamic_translations.love.website')
        %div.col-sm-2
          %a{:href => "https://soundcloud.com/limonadierofficial", :target => "_blank"}
            %button.btn.btn-purple
              = t('dynamic_translations.love.listen') 

    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %br
        %h4
          = t('dynamic_translations.love.more_info')
        %p
          = t('dynamic_translations.love.time')
        %p
          = t('dynamic_translations.love.location')
        %p
          = t('dynamic_translations.love.price')




    .row.centered.btn-space
      .col-md-6.col-md-offset-3
        %a{:href => 'http://www.digitick.com/ouishare-love-4-soiree-cabaret-sauvage-paris-20-mai-2016-css4-digitick-pg101-ri3897873.html', :target => '_blank'}
          %button.btn.btn-large.btn-primary
            = t('dynamic_translations.love.tickets')
    .row.centered
      .col-md-6.col-md-offset-3
        %img.img-responsive{:src => '/assets/2016-loveparty-vert.png', :alt => 'love party picture'}