.blue_bg#_speakers 
  .container
    .row.centered
      %h3.ouishare_stencil.white
        = t('dynamic_translations.speakers.title')
      %hr
      -if !@speakers.blank?
        .ch-grid
          - @speakers.each do |speaker|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/speaker_display", :speaker => speaker
          / - if !@hidden_speakers.blank?
          /   %div
          /     #allspeakers{style: "display: none;"}  
          /       - @hidden_speakers.each do |speaker|
          /         .col-lg-3.individuals-list-display
          /           %li
          /             = render "/individuals/partials/speaker_display", :speaker => speaker              
          /     %div.row.mb_20
          /       %a#btn_showspeakers_down
          /         %button.btn.btn-embossed.btn-primary.mt_20
          /           = t('dynamic_translations.speakers.show_all')
                    
          /     %div.row.mb_20.mt_20
          /       %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
          /         = t('dynamic_translations.speakers.hide_all')

.blank_bg#_team
  .container
    .row.centered
      %h3.ouishare_stencil
        =t('dynamic_translations.team.title')     
      %hr
      - if !@team_members.blank?
        .ch-grid
          - @team_members.each do |team_member|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/team_member_display", :team_member => team_member          
          / - if !@hidden_team_members.blank?
          /   %div
          /     #allteam_members{style: "display: none;"}  
          /       - @hidden_team_members.each do |team_member|
          /         .col-lg-3.individuals-list-display
          /           %li
          /             = render "/individuals/partials/team_member_display", :team_member => team_member           
          /     %div.row
          /       %a#btn_team_members_down
          /         %button.btn.btn-embossed.btn-primary 
          /           = t('dynamic_translations.team.show_all')
          /     %div.row  
          /       %a.hide#btn_team_members_up            
          /         %button.btn.btn-embossed.btn-primary
          /           = t('dynamic_translations.team.hide_all')
      %br
      %br
      .container
        %p
          =t('dynamic_translations.team.description') 

.partners-container#_partners{:style => 'padding-top:130px'}
  .container.sinfo
    - if !@partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.title')
        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 7
      %br
      %br

    - if !@media_partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.media_partner_title')

        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false

      %br
      %br


    - if !@friends.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.friends_title')

        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

      %br
      %br

    - if !@supporters.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.supporters_title')

        %hr.partners
      = render "/individuals/partials/partners_display", :partners => @supporters, :important_partners_display => false

      
.triangle_bg#_whoscomming 
  .container.tickets-section 
    .row.centered
      - if @ouishare_fest_attendees && !@ouishare_fest_attendees["attendees"].blank?
        %h3.ouishare_stencil
          = t('dynamic_translations.tickets.who_s_coming') 
        %ul.unstyled.attendees-list
          - attendees = @ouishare_fest_attendees["attendees"].first(ENV["EVENTBRITE_ATTENDEES_DISPLAY_NUMBER"].to_i)
          - attendees.each do |attendee|
            .col-xs-12.col-sm-4.col-md-3.col-lg-2.attendee-container
              %li.attendee-items
                / =image_tag display_gravatar(attendee["attendee"]["email"]), :class => 'img-circle'
                .row{:style => "color:white;"}                  
                  = attendee["attendee"]["first_name"]
                  = attendee["attendee"]["last_name"][0]+'.'
                .row
                  = attendee["attendee"]["company"]
              
          - if @ouishare_fest_attendees["attendees"].count > ENV["EVENTBRITE_ATTENDEES_DISPLAY_NUMBER"].to_i  
            %div
              #allattendees{style: "display: none;"} 
                - attendees = @ouishare_fest_attendees["attendees"].last(@ouishare_fest_attendees["attendees"].count - ENV["EVENTBRITE_ATTENDEES_DISPLAY_NUMBER"].to_i)
                - attendees.each do |attendee|
                        
                  .col-xs-12.col-sm-4.col-md-3.col-lg-2.attendee-container
                    %li.attendee-items
                      / =image_tag display_gravatar(attendee["attendee"]["email"]), :class => 'img-circle'
                      .row{:style => "color:white;"}                     
                        = attendee["attendee"]["first_name"]
                        = attendee["attendee"]["last_name"][0]+'.'
                      .row
                        = attendee["attendee"]["company"]
                    
              %br   
              %div.row
                %a.individuals-list-btn#btn_attendees_down
                  %button.btn.btn-embossed.btn-primary 
                    = t('dynamic_translations.tickets.show_all_attendees')
              %div.row 
                %a.individuals-list-btn#btn_attendees_up        
                  %button.btn.btn-embossed.btn-primary
                    = t('dynamic_translations.tickets.hide_all_attendees')
