.triangle_bg_1.white_txt.vspace
  .container
    .row.centered
      .col-md-10.col-md-offset-1
        %h3.ouishare_stencil
          = t('dynamic_translations.main_schedule.title')
        %hr.pink
        %br
        %br
      / .col-md-8.col-md-offset-2
      /   %p
      /     = t('dynamic_translations.program.text')
      / .col-md-6.col-md-offset-3.btn-space
      /   %a{href: "/join#_getinvolved"}
      /     %button.btn.btn-large.btn-primary
      /       = t('dynamic_translations.get_involved.title')
    .row.centered
      / .col-md-10.col-md-offset-1
      /   %h4.white
      /     = t('dynamic_translations.main_schedule.program_structure')
      /   %br
      .col-md-8.col-md-offset-2
        %p
          = t('dynamic_translations.program.text')
        %p
          = t('dynamic_translations.program_structure.text_a')
        / %p
        /   = t('dynamic_translations.program_structure.text_b')
        %p
          = t('dynamic_translations.program_structure.text_c')

.blank_bg#_schedule
  %div
    .row.centered
      %br
      %br
      %a#sched-embed{:href => "http://ouisharefestparis2016.sched.org/"}
      %script{:type => "text/javascript", :src => "http://ouisharefestparis2016.sched.org/js/embed.js"}

.triangle_bg_3.white_txt.vspace
  .container
    .row.centered
      .col-md-10.col-md-offset-1.col-sm-12
        .tickets-table.program-structure
          .row
            .col-md-12.title-inverse.purple
              %h4
                = t('dynamic_translations.program_structure.day_1')
              %h5
                18/05. 8.30 - 19.00

              %h6
                = t('dynamic_translations.program_structure.day_1_question')
            .col-sm-6.vert-borders
              %h5
                %span
                  = t('dynamic_translations.program_structure.states_title')
              %p
                = t('dynamic_translations.program_structure.states_question')
            .col-sm-6.vert-borders
              %h5
                %span
                  = t('dynamic_translations.program_structure.blockchain_title')
              %p
                = t('dynamic_translations.program_structure.blockchain_question')
          .row.start
            .col-md-12.title-inverse.purple
              %h4.purple
                = t('dynamic_translations.program_structure.day_2')
              %h5.purple
                19/05. 8.30 - 19.00

              %h6
                = t('dynamic_translations.program_structure.day_2_question')
            .col-sm-6.vert-borders
              %h5
                %span
                  = t('dynamic_translations.program_structure.business_title')
              %p
                = t('dynamic_translations.program_structure.business_question')
            .col-sm-6.vert-borders
              %h5
                %span
                  = t('dynamic_translations.program_structure.governance_title')
              %p
                = t('dynamic_translations.program_structure.governance_question')
          .row.start
            .col-md-12.title-inverse
              %h4.purple
                = t('dynamic_translations.program_structure.day_3')
              %h5.blue
                20/05. 13.00 - 21.00

              %h6.purple
                = t('dynamic_translations.program_structure.day_3_question')
            .col-sm-6.vert-borders
              %h5
                %span
                  = t('dynamic_translations.program_structure.work_title')
              %p
                = t('dynamic_translations.program_structure.work_question')
            .col-sm-6.vert-borders
              %h5
                %span
                  = t('dynamic_translations.program_structure.education_title')
              %p
                = t('dynamic_translations.program_structure.education_question')
            .col-md-12
              %h5
                = t('dynamic_translations.love_party.title')
                20/05
                = t('dynamic_translations.love_party.time')
          .row.start
            .col-md-12.title
              %h4.white
                = t('dynamic_translations.program_structure.public_day')
              %h5
                21/05. 10.00 - 18.00
            .col-md-12
              %p
              %br
              / %br
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'participants#_speakers'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.speakers.see_all')

/ .blank_bg
/   .container
/     .row.centered
/       .col-md-8.col-md-offset-2
/         %br
/         %br
/         %p
/           = t('dynamic_translations.program.text')
/       .col-md-6.col-md-offset-3.btn-space
/         %a{href: "/join#_getinvolved"}
/           %button.btn.btn-large.btn-primary
/             = t('dynamic_translations.get_involved.title')

.blank_bg#after_gold_rush
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.goldrush.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.justify
        %br
        %br
        %p
          = t('dynamic_translations.goldrush.text1')
        %p
          = t('dynamic_translations.goldrush.text2')
        %p
          = t('dynamic_translations.goldrush.text3')
        %p
          %b
            = t('dynamic_translations.goldrush.text4')
        %p
          %a{href: "http://stories.ouisharefest.com/after-the-gold-rush/", target: "_blank"}
            = t('dynamic_translations.goldrush.p6')
        %br
        %br
        %br


/Program guidelines
#_guidelines.triangle_bg_4.white_txt.vspace
  .container
    .row.centered
      .col-md-10.col-md-offset-1
        %p
          %img.img-responsive{:src => '/assets/guiding-criteria.png', :alt => 'Guiding principles'}

/ / Curators
/ #_curators.vspace
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.program.curators')
/       %hr.pink
/       - if !@curators.blank?
/         .ch-grid
/           - @curators.each do |team_member|
/             .col-lg-3.individuals-list-display
/               %li
/                 = render "/individuals/partials/team_member_display", :team_member => team_member 



/ Love Party
.blank_bg.vspace#_love_party
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.love_party.title')
      %hr.pink
      %br
      %br
    .row.centered
      .col-md-8.col-md-offset-2
        %p
          = t('dynamic_translations.love_party.text')

    .row.centered.btn-space
      .col-md-6.col-md-offset-3
        %a{:href => 'http://www.digitick.com/ouishare-love-4-soiree-cabaret-sauvage-paris-20-mai-2016-css4-digitick-pg101-ri3897873.html', :target => '_blank'}
          %button.btn.btn-large.btn-primary
            = t('dynamic_translations.love_party.see_lineup')
    .row.centered
      .col-md-6.col-md-offset-3
        %img.img-responsive{:src => '/assets/2016-loveparty-vert.png', :alt => 'love party picture'}


/ Join section
.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')