
#_schedule.blank_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.main_schedule.title')
      %br
      %br
      .container
        %p
          = t('dynamic_translations.main_schedule.first_part')
          
          / %br
          / %br
          / %br
          / = t('dynamic_translations.main_schedule.second_part')

    .row.centered
      %a#sched-embed{:href => "http://ouisharefest14.sched.org/"}
      %script{:type => "text/javascript", :src => "http://ouisharefest14.sched.org/js/embed.js"}

.grey_bg#_sharing_fair
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.sharing_fair.title')
    %br
    %br
    .col-xs-12.col-md-6.col-lg-6
      
      
      .row.centered
        %p
          = t('dynamic_translations.sharing_fair.text')
      %br
      %br
      
      
      %a{:href => 'http://sched.co/1dhcKMF', :target => '_blank'}
        %button.btn.btn-embossed.btn-primary
          = t('dynamic_translations.tickets.find_out_more')
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %a{:href => 'join#_tickets'}
        %button.btn.btn-embossed.btn-primary
          = t('dynamic_translations.tickets.register_for_free')


    .col-xs-12.col-md-6.col-lg-6      
      %img{:src => '/assets/sharing_fair.png', :alt => 'sharing fair picture', :style => 'width: 560px;'}
       

.yellow_bg#_events
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.satellite_events.title')
    %br
    %br
    .col-xs-12.col-md-12.col-lg-12
      
      
      .row.centered
        %p
          = t('dynamic_translations.satellite_events.text')
      %br
      %br
      
      .row
        %a{:href => 'https://docs.google.com/forms/d/1xwFAL9C5AHZgBAeC6tGD6_eX0Ca1u00ZawZEueHczII/viewform', :target => '_blank'}
          %button.btn.btn-embossed.btn-primary
            = t('dynamic_translations.satellite_event.link_title')
    
  %br
  %br

  .col-md-12
    .col-md-12{:style => " height: 451px; overflow: hidden; "}
      %iframe{ :src => "https://mapsengine.google.com/map/embed?mid=zvpA9LZ7Vptw.k0O0o696Lyvk", :width => "100%", :height => "480", :style => "position: absolute; left: 0; bottom: 0"}


  .container.events-section
    .row.centered
      %h3.ouishare_stencil
        Directory of events
      %ul.unstyled.events-list
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://labs.ouishare.net/', :target => '_blank'}
              OuiShare Labs Camp
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Simplon
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            55 Rue de Vincennes, 93100 Montreuil
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            01.05 to 04.05

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'https://www.eventbrite.fr/e/billets-ouishare-fest-proto204-my-startup-11331973237'}
              OuiShare Fest - PROTO204 my startup
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            PROTO204
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            200 rue André Ampère, 91440 Bures-sur-Yvette
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            05.05 2pm - 7pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'https://www.eventbrite.co.uk/e/being-and-becoming-screening-a-film-by-clara-bellar-on-unschooling-tickets-11383703965', :target => '_blank'}
              Education OuiShare Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Being and Becoming (movie)
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            59 boulevard MacDonald, 75019 PARIS
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            05.05 6.30pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.eventbrite.fr/e/billets-ouishare-fest-i-how-to-succeed-my-crowdfunding-campaign-entrepreneurs-testimonials-11384065045', :target => '_blank'}
              Anaxago Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Anaxago
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            34 rue de la victoire, 75009 Paris
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            05.05 7pm - 10pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.eventbrite.fr/e/billets-oui-share-fest-satellite-event-makers-11355242837?aff=es2&rank=1', :target => '_blank'}
              Makers OuiShare Fest 14 Side Event @WoMa
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            WoMa
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            15 Rue Léon Giraud, 75019 Paris, France
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            05.05 8pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'https://www.eventbrite.fr/e/billets-meet-with-ed-kushins-founder-of-homeexchange-pioneer-of-collaborative-consumption-11399208339?ref=enivte001&invite=NTcwMDExMy9kaWFuYUBvdWlzaGFyZS5uZXQvMA%3D%3D&utm_source=eb_email&utm_medium=email&utm_campaign=invitenew001&utm_term=eventpage'}
              HomeExchange Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            HomeExchange
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            2 rue de Vauvilliers, 75001 Paris
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 6pm - 9pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.eventbrite.fr/e/billets-apero-open-science-a-paris-saclay-11348213813'}
              PROTO204 : Apéro Open Science Paris Saclay 
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            PROTO204
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            200 rue André Ampère, 91440 Bures-sur-Yvette
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 6pm - 10pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.eventbrite.com/e/billets-after-ouishare-fest-at-blablacar-rooftop-with-awesome-view-tuesday-6th-11346611019', :target => '_blank'}
              Blalacar Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Blablacar
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Trinité
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 6pm - 11pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'https://www.eventbrite.fr/e/billets-universe-of-housing-event-by-mesdepanneursfr-11427163955'}  
              MesDépanneurs.fr Fest Side Event: the Universe of Housing
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            MesDépanneurs.fr
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            59 boulevard MacDonald, 75019 PARIS
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 6.30pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'https://www.eventbrite.com/e/billets-the-financial-services-the-next-industry-to-be-disrupted-by-the-p2p-economy-11477717161'}
              The Financial services, the next industry to be disrupted by the P2P economy?
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            La Netscouade 
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            8 Passage Brûlon, 75012 Paris
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 7pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            CoTuesday Entrepreneurs Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            CoTuesday 
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            173 rue Saint Martin, 75003 Paris
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 7pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.groupe-sos.org/up-conferences/participez/id/241#inscription', :target => '_blank'}
              Up Conference
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            L'ère du partage : rencontre exceptionnelle avec Neal Gorenflo (Shareable)
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            19-21 Rue Boyer, Paris, France
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 7.15pm - 8.45pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://ouishare.net/en/events/ouishare-talks-and-pitch-competition-budapest'}
              OUISHARE TALKS AND PITCH COMPETITION @BUDAPEST
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            OuiShare
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            55 Paulay Ede street, Budapest 6th district
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            11.04 3pm 

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.eventbrite.es/e/entradas-traity-celebra-su-entrada-en-consumo-colaborativo-11437567071?aff=eorg'}
              Traity celebra su entrada en Consumo Colaborativo
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Traity
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Calle de Francisco Silvela, 47, 28028 Madrid, Community of Madrid, Spain
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            01.05 8pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Cairo Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            The District (Coworking Space in Cairo)
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Misr Helwan Agriculture Road, Maadi 51B 11711 Cairo, Egypt
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            05.05 7pm 

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://nos.vc/pt/projects/846-ouishare-fest-poa-2014'}
              Porto Alegre Fest 14 Side Week
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            CC100 & OuiShare
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Avenida Cristóvão Colombo, 100 | 90.460-003 | Porto Alegre/RS
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            06.05 to 07.05 7pm - 10pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'https://www.eventbrite.com.au/e/sydney-ouishare-fest-side-event-2014-hosted-by-shortspace-tickets-11361425329', :target => '_blank'}
              Sydney OuiShare Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            ShortSpace
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            42 Wentworth Ave, Surry Hills, NSW 2000
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            07.05 6pm - 9pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Las finanzas peer-to-peer
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Minka Banco de Redes, OuiShare, Afluenta
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Algarrobo 1041 (C1293ABA), Ciudad de Buenos Aires, Argentina
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            07.05 6pm - 9pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.eventbrite.es/e/entradas-fest-up-cena-economia-colaborativa-11314121843'}
              Cena de Economía Colaborativa del Fest-UP
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Swapsee, OuiShare, EatWith
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Calle de l'Escorial, 191, Barcelona, Spain
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            08.05 8.45pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container{:style => 'height: 105px;'}
          %li.events-items
            %a{:href => 'http://ccemx.org/2014/04/23/la-economia-colaborativa-en-mexico/'}
              La economía colaborativa en México
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container{:style => 'height: 105px;'}
          %li.events-items
            Minka Banco de Redes, OuiShare, Idea.me
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container{:style => 'height: 105px;'}
          %li.events-items
            Pasaje cultural Guatemala 18-Donceles 97, Colonia Centro Delegación Cuauhtémoc, C.P. 06010 México, D.F
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container{:style => 'height: 105px;'}
          %li.events-items
            09.05 7pm - 9pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'https://www.eventbrite.es/e/entradas-amynemarket-4-la-feria-de-la-nueva-economia-emprendimiento-y-bien-comun-11456730389'}
              AmyneMarket 4: La feria de la nueva economía, emprendimiento y bien común
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Amigas y Negocios
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Estación de Chamartín. Ático
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            10.05 to 11.05 11am - 9pm

        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            %a{:href => 'http://www.meetup.com/OuiShare-Netherlands/events/179882772'}
              The Hague Fest Side Event
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Op De Vulkaan
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            Noordwal 117
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.events-container
          %li.events-items
            17.05 to 18.05 9am - 5pm



.triangle_bg#_love_party
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.love_party.title')
    %br
    %br
    .col-xs-12.col-md-6.col-lg-6
      
      
      .row.centered
        %p
          = t('dynamic_translations.love_party.text')
      %br
      %br
      
      
      %a{:href => 'https://www.facebook.com/events/644013769005812/', :target => '_blank'}
        %button.btn.btn-embossed.btn-primary
          = t('dynamic_translations.love_party.see_lineup')


    .col-xs-12.col-md-6.col-lg-6      
      %img{:src => '/assets/love_party.jpg', :alt => 'love party picture', :style => 'width: 560px;'}
    

      

    