.program-part
  .container
    .main-section
      .row.centered
        .col-md-10.col-md-offset-1
          %h3.ouishare_stencil
            = t('dynamic_translations.main_schedule.title')
          %hr.pink
          %br
          %br
        .col-md-8.col-md-offset-2
          %p
            = t('dynamic_translations.main_schedule.second_part')

      .row.centered
        / %img{:src => '/assets/2016-schedule.png', :alt => 'Main schedule', :style => "max-width: 100%"}
        / %a#sched-embed{:href => "http://ouisharefest2015.sched.org/grid/"}
        / %script{:type => "text/javascript", :src => "http://ouisharefest2015.sched.org/js/embed.js"}


#_awards.aboutouishare-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.ouishare_awards.title')
      %hr.pink
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p
              = t('dynamic_translations.ouishare_awards.first_part')

        .row
          .col-md-8.col-md-offset-2
            .col-md-12
              %img{:src => '/assets/ouishare-award.png', :alt => 'ouishare awards logo', :style => 'width:50%;'}
            .col-md-12
              %a{:href => 'http://awards.ouishare.net/2015/', :target => '_blank'}
                .btn.btn-embossed.btn-primary{:style => 'margin: 30px 0px 0px 0px;'}
                  = t('dynamic_translations.ouishare_awards.see_2015_winners')

/ .background_5#_tracks
/   .container
/     .row
/       .col-md-6.col-md-offset-3
/         %h3.ouishare_stencil.centered
/           = t('dynamic_translations.track.title')
/         %hr.pink
/         %br
/         %br
/     .row
/       .col-md-10.col-md-offset-1
/         .row
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.collab_title')
/               %p
/                 = t('dynamic_translations.track.collab_text')
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.revolution_title')
/               %p
/                 = t('dynamic_translations.track.revolution_text')
/         .row
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.spirit_title')
/               %p
/                 = t('dynamic_translations.track.spirit_text')
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.capital_title')
/               %p
/                 = t('dynamic_translations.track.capital_text')
/         .row
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.legacy_title')
/               %p
/                 = t('dynamic_translations.track.legacy_text')
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.social_title')
/               %p
/                 = t('dynamic_translations.track.social_text')
/         .row
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.myth_title')
/               %p
/                 = t('dynamic_translations.track.myth_text')
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.democracy_title')
/               %p
/                 = t('dynamic_translations.track.democracy_text')
/         .row
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.robot_title')
/               %p
/                 = t('dynamic_translations.track.robot_text')
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.citizen_title')
/               %p
/                 = t('dynamic_translations.track.citizen_text')
/         .row
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.sharing_title')
/               %p
/                 = t('dynamic_translations.track.sharing_text')
/           .col-md-6
/             .tracks-block
/               %h6
/                 = t('dynamic_translations.track.city_title')
/               %p
/                 = t('dynamic_translations.track.city_text')



/ .blank_bg#_track_leader{:style => "padding-bottom: 10px;"}
/   .container
/     .row.centered
/       %h3.ouishare_stencil.pink
/         =t('dynamic_translations.track_leader.title')
/       %hr.pink
/       - if !@track_leaders.blank?
/         .ch-grid
/           - @track_leaders.each do |track_leader|
/             .col-lg-3.individuals-list-display
/               %li
/                 = render "/individuals/partials/track_leaders_display", :track_leader => track_leader

/ / Petit Fest 
/ #_petit_fest.aboutouishare-section
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.petit_fest.title')
/       %hr.blue
/       %br
/       %br
/       .container.round_fond
/         .row
/           .col-md-8.col-md-offset-2
/             %p
/               %b
/                 = t('dynamic_translations.petit_fest.subtitle')
/             %p
/               = t('dynamic_translations.petit_fest.text1')
/               %a{:href => '#_love_party'}
/                 = t('dynamic_translations.love_party.title')
/               = t('dynamic_translations.petit_fest.text2')
/             %p
/               = t('dynamic_translations.petit_fest.text3')

/         .row
/           .col-md-10.col-md-offset-1
/             .col-md-12
/               .btn.btn-pink{:style => 'margin: 0px 0px 40px 0px;'}
/                 %a{:href => '/freelancers'}
/                   = t('dynamic_translations.petit_fest.get_ticket')
/               .btn.btn-pink{:style => 'margin: 0px 0px 40px 0px;'}
/                 %a{:href => '/assets/petit_fest_2015.png'}
/                   = t('dynamic_translations.petit_fest.see_program')
/             .col-md-12
/               %a{:href => '/assets/petit_fest_2015.png'}
/                 %img.img-responsive{:src => '/assets/petit_fest_crop.png', :alt => 'Petit Fest program', :style => 'margin:auto;'}


/ / Satellite events

/ .blank_bg#_events
/   .container
/     .row.centered
/       %h3.ouishare_stencil.pink
/         = t('dynamic_translations.satellite_events.title')
/       %hr.pink
/     %br
/     %br
/     .main-section
/       .col-md-8.col-md-offset-2
/         %p.main-section-paragraphes.centered
/           = t('dynamic_translations.satellite_events.text')
/       .row.centered
/         .col-md-10.col-md-offset-1
/           .col-md-12
/             .btn.btn-pink{:style => 'margin: 40px 0px 0px 0px;'}
/               %a{:href => '/satellite_events', :target => '_blank'}
/                 = t('dynamic_translations.satellite_events.read_more')

/   / %br
/   / %br

/   /     .row
/   /       %a{:href => 'https://docs.google.com/forms/d/1xwFAL9C5AHZgBAeC6tGD6_eX0Ca1u00ZawZEueHczII/viewform', :target => '_blank'}
/   /         %button.btn.btn-embossed.btn-primary
/   /           = t('dynamic_translations.satellite_event.link_title')

/   / %br
/   / %br

/   / .col-md-12
/   /   .col-md-12{:style => " height: 451px; overflow: hidden; "}
/   /     %iframe{ :src => "https://mapsengine.google.com/map/embed?mid=zvpA9LZ7Vptw.k0O0o696Lyvk", :width => "100%", :height => "480", :style => "position: absolute; left: 0; bottom: 0"}




/   / Love Party
/ #_love_party.aboutouishare-section
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.love_party.title')
/       %hr.blue
/       %br
/       %br
/       .container.round_fond
/         .row
/           .col-md-8.col-md-offset-2
/             %p
/               = t('dynamic_translations.love_party.text')

/         .row
/           .col-md-10.col-md-offset-1
/             .col-md-12
/               .btn.btn-pink{:style => 'margin: 0px 0px 40px 0px;'}
/                 %a{:href => 'http://www.digitick.com/ouishare-love-3-soiree-cabaret-sauvage-paris-22-mai-2015-css4-digitick-pg101-ri3193590.html', :target => '_blank'}
/                   = t('dynamic_translations.love_party.see_lineup')
/             .col-md-12
/               %img.img-responsive{:src => '/assets/loveparty2015.png', :alt => 'love party picture', :style => 'width:400px;margin:auto;'}



