
#_schedule.blank_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.main_schedule.title')
      %br
      %br
      .container
        %p
          = t('dynamic_translations.main_schedule.first_part')
          
          %br
          %br
          %br
          = t('dynamic_translations.main_schedule.second_part')



.grey_bg#_events
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.satellite_events.title')
    %br
    %br
    .col-xs-12.col-md-6.col-lg-6
      
      
      .row.centered
        %p
          = t('dynamic_translations.satellite_events.text')
      %br
      %br
      
      .row
      %a{:href => 'https://docs.google.com/forms/d/1xwFAL9C5AHZgBAeC6tGD6_eX0Ca1u00ZawZEueHczII/viewform', :target => '_blank'}
        %button.btn.btn-embossed.btn-primary
          = t('dynamic_translations.satellite_event.link_title')
    .col-xs-12.col-md-6.col-lg-6      
      %img{:src => '/assets/SteBo_5093_Mid_medium.png', :alt => 'satellite event picture', :style => 'width: 560px;'}
    

      

    