.triangle_bg_3.white_txt.vspace
  .container
    .row.centered
      .col-md-10.col-md-offset-1
        %h3.ouishare_stencil
          = t('dynamic_translations.main_schedule.title')
        %hr.pink
        %br
        %br
      .col-md-8.col-md-offset-2
        %p
          = t('dynamic_translations.program.text')
      .col-md-6.col-md-offset-3.btn-space
        %a{href: "/join#_getinvolved"}
          %button.btn.btn-large.btn-primary
            = t('dynamic_translations.get_involved.title')
    .row.centered
      .col-md-10.col-md-offset-1
        %h4.white
          = t('dynamic_translations.main_schedule.program_structure')
        / %hr.pink
        / %br
        %br
      .col-md-10.col-md-offset-1
        %p
          = t('dynamic_translations.program_structure.text_a')
          / OuiShare Fest will focus on 6 macro-topics, exploring two macro-topics per day. Starting from the systemic level on day 1, we’ll move onto the organisational level before finally examining the role of individuals, exploring these  through a series of key questions. 
        %p
          = t('dynamic_translations.program_structure.text_b')
          / To foster holistic rather than siloed thinking, all sessions will explore intersections between several topics. Questions around impact, sustainability and inner, individual transformation are fundamental to the entire discussion and will be addressed throughout the whole Fest. 
        %p
          = t('dynamic_translations.program_structure.text_c')
          / Sessions will be labelled clearly according to the level of expertise required to make the most out of them, allowing you to find the content best designed for you.
    .row.centered
      .col-md-10.col-md-offset-1.col-sm-12
        .tickets-table.program-structure
          .row
            .col-md-12.title-inverse
              %h4.purple
                = t('dynamic_translations.program_structure.day_1')
              %h5.purple
                18/05. 8.30 - 19.00
            .col-md-12
              %h6
                = t('dynamic_translations.program_structure.day_1_question')
            .col-sm-6
              %h5
                %span.vert-borders
                  = t('dynamic_translations.program_structure.states_title')
              %p
                = t('dynamic_translations.program_structure.states_question')
            .col-sm-6
              %h5
                %span.vert-borders
                  = t('dynamic_translations.program_structure.blockchain_title')
              %p
                = t('dynamic_translations.program_structure.blockchain_question')
          .row.start
            .col-md-12.title-inverse
              %h4.purple
                = t('dynamic_translations.program_structure.day_2')
              %h5.purple
                19/05. 8.30 - 19.00
            .col-md-12
              %h6
                = t('dynamic_translations.program_structure.day_2_question')
            .col-sm-6
              %h5
                %span.vert-borders
                  = t('dynamic_translations.program_structure.business_title')
              %p
                = t('dynamic_translations.program_structure.business_question')
            .col-sm-6
              %h5
                %span.vert-borders
                  = t('dynamic_translations.program_structure.governance_title')
              %p
                = t('dynamic_translations.program_structure.governance_question')
          .row.start
            .col-md-12.title-inverse
              %h4.purple
                = t('dynamic_translations.program_structure.day_3')
              %h5.purple
                20/05. 13.00 - 21.00
            .col-md-12
              %h6
                = t('dynamic_translations.program_structure.day_3_question')
            .col-sm-6
              %h5
                %span.vert-borders
                  = t('dynamic_translations.program_structure.work_title')
              %p
                = t('dynamic_translations.program_structure.work_question')
            .col-sm-6
              %h5
                %span.vert-borders
                  = t('dynamic_translations.program_structure.education_title')
              %p
                = t('dynamic_translations.program_structure.education_question')
            .col-md-12
              %h5
                = t('dynamic_translations.love_party.title')
                20/05 22.00 - 
          .row.start
            .col-md-12.title
              %h4.white
                = t('dynamic_translations.program_structure.public_day')
              %h5
                21/05. 10.00 - 21.00
            .col-md-12
              %p
                Public Day descriptive text


      / .row.centered#_schedule
      /   %br
      /   %br
      /   %img{:src => '/assets/2016-schedule-en.png', :alt => 'Main schedule', :style => "max-width: 100%"}
      /   / %a#sched-embed{:href => "http://ouisharefestparis2016.sched.org/grid/"}
      /   / %script{:type => "text/javascript", :src => "http://ouisharefestparis2016.sched.org/js/embed.js"}

.blank_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.goldrush.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.centered
        %br
        %br
        %p
          %b
            = t('dynamic_translations.goldrush.p1')
        %p
          = t('dynamic_translations.goldrush.p2a')
          %a{href: "http://content.time.com/time/specials/packages/article/0,28804,2059521_2059717_2059710,00.html", target: "_blank"}
            = t('dynamic_translations.goldrush.p2b')
          = t('dynamic_translations.goldrush.p2c')
        %p
          = t('dynamic_translations.goldrush.p3')
        %p
          = t('dynamic_translations.goldrush.p4')
        %p
          %b
            = t('dynamic_translations.goldrush.p5')
        %p
          %a{href: "http://magazine.ouishare.net/2015/12/after-the-gold-rush", target: "_blank"}
            = t('dynamic_translations.goldrush.p6')


/ Curators
#_curators.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.program.curators')
      %hr.pink
      - if !@curators.blank?
        .ch-grid
          - @curators.each do |team_member|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/team_member_display", :team_member => team_member 