.blank_bg.page.top_blue
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.travel_information.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.ridesharing.title')
        %p.text-center
          = t('dynamic_translations.ridesharing.text1')
          \:
          %a{href: "http://www.covoiturage.fr", target: "_blank"} 
            Blablacar,
          %a{href: "http://www.skjutsgruppen.nu", target: "_blank"} 
            Skjutsgruppen,
          %a{href: "http://www.vadrouille-covoiturage.com", target: "_blank"} 
            Vadrouille covoiturage,
          %a{href: "http://www.123envoiture.com", target: "_blank"} 
            123 en voiture,
          %a{href: "http://www.covoiturage-libre.fr", target: "_blank"} 
            Covoiturage libre.

      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.carsharing.title')
        %p.text-center
          = t('dynamic_translations.travel_information.carsharing.part_one')
          %a{href: "https://www.drivy.com/", target: "_blank"} 
            Drivy
          \.
          = t('dynamic_translations.travel_information.carsharing.part_two')
          \:
          %a{href: "http://www.ouicar.fr", target: "_blank"}
            OuiCar,
          %a{href: "https://www.liftshare.com/uk/", target: "_blank"}
            Liftshare,
          %a{href: "http://www.deways.com", target: "_blank"}
            Deways,
          %a{href: "http://www.tamyca.de", target: "_blank"}
            Tamyca,
          %a{href: "http://www.snappcar.com", target: "_blank"}
            Snappcar,
          %a{href: "http://www.autonetzer.de", target: "_blank"}
            Autonetzer,
          %a{href: "https://minbildinbil.dk", target: "_blank"}
            Minbildinbil
          \.


      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.train.title')
        %p.text-center
          = t('dynamic_translations.travel_information.train.part_one')
          %a{href: "#"} 
            = t('dynamic_translations.travel_information.train.link')
          = t('dynamic_translations.travel_information.train.part_two')
          %br
          = t('dynamic_translations.travel_information.train.part_three')

      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.coaches.title')
        %p.text-center
          = t('dynamic_translations.travel_information.coaches.part_one')
          %a{href: "http://uk.megabus.com/Default.aspx", target: "_blank"}
            Megabus,
          %a{href: "http://www.eurolines.com/en/", target: "_blank"}
            Eurolines 
          and 
          %a{href: "http://fr.idbus.com/fr", target: "_blank"}
            iDBUS 
          = t('dynamic_translations.travel_information.coaches.part_two')
      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.fly.title')
        %p.text-center
          = t('dynamic_translations.travel_information.fly.part_one')

/ Join section
.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')
       