.blank_bg
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.travel_information.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.ridesharing.title')
        %p.text-center
          = t('dynamic_translations.travel_information.ridesharing.part_one')
          %a{href: "join#_getinvolved"} 
            = t('dynamic_translations.travel_information.ridesharing.link')
          = t('dynamic_translations.travel_information.ridesharing.part_two')
          %br
          = t('dynamic_translations.travel_information.ridesharing.part_three')

      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.carsharing.title')
        %p.text-center
          = t('dynamic_translations.travel_information.carsharing.part_one')
          %a{href: "https://www.drivy.com/", target: "_blank"} 
            Drivy
          = t('dynamic_translations.travel_information.ridesharing.part_two')

      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.train.title')
        %p.text-center
          = t('dynamic_translations.travel_information.train.part_one')
          %a{href: "#"} 
            = t('dynamic_translations.travel_information.train.link')
          = t('dynamic_translations.travel_information.train.part_two')
          %br
          = t('dynamic_translations.travel_information.train.part_three')

      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.coaches.title')
        %p.text-center
          = t('dynamic_translations.travel_information.coaches.part_one')
          = t('dynamic_translations.travel_information.coaches.part_two')
      .row.travel_information
        %h4
          = t('dynamic_translations.travel_information.fly.title')
        %p.text-center
          = t('dynamic_translations.travel_information.fly.part_one')
       