.blank_bg.page.top_blue
  .container
    .row.centered.travel_information
      %h3.ouishare_stencil
        = t('dynamic_translations.where_to_stay.title')
      %hr.pink

    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row.travel_information
        %h4
          = t('dynamic_translations.where_to_stay_P2P.title')
        %p.text-center
          %a{href: "https://www.airbnb.com/", target: "_blank"} 
            AirBnb:
          = t('dynamic_translations.where_to_stay_P2P.part_one')
          %a{href: "https://www.airbnb.de/wishlists/10206702", target: "_blank"}  
            = t('dynamic_translations.where_to_stay_P2P.link')
          = t('dynamic_translations.where_to_stay_P2P.part_two')
          or
          %a{href: "http://www.bedycasa.com/", target: "_blank"} 
            Bedycasa,
          %a{href: "https://www.homestay.com/", target: "_blank"} 
            Homestay,
          %a{href: "http://www.homeaway.com/", target: "_blank"} 
            Homeaway


      .row.travel_information
        %h4
          = t('dynamic_translations.where_to_stay_home_swapping.title')
        %p.text-center
          = t('dynamic_translations.where_to_stay_home_swapping.part_one')
          %a{href: "http://www.homeforexchange.com/", target: "_blank"} 
            Home For Exchange,
          %a{href: "http://www.knok.com/", target: "_blank"} 
            KNOK,
          %a{href: "http://www.trocmaison.com/", target: "_blank"} 
            TrocMaison,
          %a{href: "http://www.guesttoguest.com/", target: "_blank"} 
            GuestToGuest,
          %a{href: "http://www.lovehomeswap.com/", target: "_blank"} 
            LoveHomeSwap
          or
          %a{href: "https://www.intervac.fr/", target: "_blank"} 
            Intervac International.



      .row.travel_information
        %h4
          = t('dynamic_translations.where_to_stay_hotels.title')
        %p.text-center
          = t('dynamic_translations.where_to_stay_hotels.part_one')
          %br
          %a{href: "http://www.foresthill-hotels.com/", target: "_blank"} 
            Hotel Forest Hill Paris
          %br
          %a{href: "http://www.hotel-de-paris.org/", target: "_blank"} 
            Hotel de Paris
          %br
          %a{href: "http://www.st-christophers.co.uk/paris-hostels/canal", target: "_blank"} 
            Backpacker Hostel Canal
          %br
          %a{href: "http://www.st-christophers.co.uk/paris-hostels/gare-du-nord", target: "_blank"} 
            Backpacker Hostel Gare du Nord
          %br
          %a{href: "https://generatorhostels.com/en/", target: "_blank"}
            Generator Hostel
          = t('dynamic_translations.where_to_stay_hotels.generator_discount')
          %br
          %a{href: "http://lesgrandsvoisins.org/lesite/campsite/", target: "_blank"}
            Les grands voisins

/ Join section
.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')
