.container{:style => 'width:100% !important;background-image: url(/assets/adesias/ad_background.jpg);width:100%; height:100%;'}
  .row.centered

    = image_tag '/assets/adesias/ad_intro.png'
    = image_tag '/assets/adesias/ad_header.png'
    = image_tag '/assets/adesias/ad_logo.png'
    = image_tag '/assets/adesias/ad_texte.png'


    / TODO :
    / Header
    / ScollDown sur click flèche
    / Vidéos suivantes et précédentes
    / Autres vidéos (3 suivantes)
    / Mise en forme
    / Liens partager sur Facebook, Twitter
    / SEO Spécifique à la page
    / intégration des polices de caractères

  .row.centered
    = image_tag '/assets/adesias/ad_header.png'

    -if !@adesias_videos.blank?
      .ch-grid
        - @adesias_videos.each do |video|
          .col-lg-4.individuals-list-display
            %li
              = link_to video.first_name, story_path(video), :id => video.first_name