.container
  %h1
    Change password
  = form_for @user, :url => me_apply_change_password_path do |f|
    .form-group.row
      = f.label :current_password, "Current password"
      = f.password_field :current_password
    .form-group.row
      = f.label :password, 'New Password'
      = f.password_field :password
    .form-group.row
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation 
    .form-group.row
      =f.submit "Save new password"