

= form_tag traduction_path(@translation), :method => :put do |f|
  = hidden_field_tag :key, @translation.key
  .form-group.row
    .col-lg-offset-2.col-lg-10.text-center
      %code
        = @translation.key         
  -@availables_languages.each do |locale|   
    
    - if current_translation = Translation.find_by_key_and_locale(@translation.key, locale.to_s)
      .form-group.row
        .col-lg-2.text-center
          = image_tag "/assets/flags_test/" + locale.to_s + ".png", :width => "32px"
          %span.badge
            = current_translation.locale          
        .col-lg-10
          = text_area_tag :value, current_translation.value, {:class => "form-control", :name => "[value][" + locale.to_s + "]", :size => "25x10"}
    - else
      .form-group.row
        .col-lg-2.text-center
          = image_tag "/assets/flags_test/" + locale.to_s + ".png", :width => "32px"
          %span.badge
            = locale            
        .col-lg-10
          = text_area_tag :value, nil, {:class => "form-control", :name => "[value][" + locale.to_s + "]", :size => "25x10"}
    
  .form-group.row
    .col-lg-offset-2.col-lg-10.text-center
      = submit_tag "Save Trad", :class => "btn btn-success"