#f
  .container
    .row
      .col-lg-5
        - if current_user          
          - if current_user.is_admin
            %h5 Administration
            %p
              %small
                = link_to admin_index_path do
                  %i.glyphicon.glyphicon-cog 
                  Admin Panel
                %br
                = link_to logout_path, :method => :delete do
                  %i.glyphicon.glyphicon-remove 
                  Logout
        %h5 
          = t('dynamic_translations.footer.contact')

        %p
          %small
            = t('dynamic_translations.footer.general_questions')
            %a{href: "mailto:hello@ouishare.net", target: "_blank"} hello@ouisharefest.com
            %br/
            = t('dynamic_translations.footer.volunteers')
            %a{href: "mailto:volunteers@ouishare.net", target: "_blank"} volunteers@ouisharefest.com
            %br/
            = t('dynamic_translations.footer.partners_sponsors')
            %a{href: "partners:press@ouishare.net", target: "_blank"} partners@ouisharefest.com
            %br/
            = t('dynamic_translations.about.title')
            %a{href: "http://ouishare.net/about/", target: "_blank"} OuiShare
      .col-lg-2.no-padding-left
        %h5 
          = t('dynamic_translations.footer.press')

        %p
          %small
            %a{href: "https://drive.google.com/folderview?id=0B7b2-hkRWIe-aEhPTlYtUmFKWnc&usp=sharing", target: "_blank"} 
              =t('dynamic_translations.footer.download_press_kit')
            %br
            
            = t('dynamic_translations.footer.press_contact')
            %a{href: "mailto:press@ouishare.net", target: "_blank"} 
              press@ouisharefest.com
      / .col-lg-2
      /   %h5 
      /     = t('dynamic_translations.footer.location')
      /   %p
      /     %small
      /       Cabaret Sauvage
      /       %br/
      /       211, Avenue Jean Jaurès
      /       %br/
      /       Paris 19ème
      / .col-lg-3
      /   %p
      /   %p
      /     %a{href: "https://maps.google.fr/maps?q=Cabaret+Sauvage,+Paris=fr=UTF8=48.895308,2.392101=0.01975,0.045362=48.895345,2.392168=0.009875,0.022681=caba=Cabaret+Sauvage,=Paris,+%C3%8Ele-de-France=m=15", target: "_blank"}
      /       %img.img-responsive.img-thumbnail{src: "/assets/small_map.png"}/
      
    .row
      .col-lg-offset-9.col-lg-3
        %p.pull-right
          %small
            Powered by 

            =link_to "http://www.pitch-me.fr", :target => "_blank" do
              = image_tag '/assets/logo_pitchme_footer.png', :style => "width : 24px; position:relative;top:-5px;"
              Pitch Me
    .row.design-team-footer
      .col-lg-offset-7.col-lg-5
        %p.pull-right{:style => 'margin-top: 10px;'}
          %small          
            Design:
            %a{ :href => "http://www.corp-lab.com"}
              \.CORP
            
= yield :scripts