
.navbar.navbar-default.navbar-fixed-top{ :id => (@id_nav )}
  .container.special-container-navbar
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.nopadding{href: root_path}
        = image_tag "/assets/osf16-header-white.svg", :class => "header-logo"

    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        / %li
        /   %a{href: "#_about"}
        /     =t('dynamic_translations.about.title')


        %li.dropdown
          %a.dropdown-toggle{href: "/about"}
            =t('dynamic_translations.about.title')
            / %b.caret
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "about#_about"}
                = t('dynamic_translations.about.the_event')
            %li
              %a{href: "about#_key_topics"}
                = t('dynamic_translations.topics.title')
            %li
              %a{href: "/zero_waste_event"}
                = t('dynamic_translations.zerowaste.title_nav')
            %li
              %a{href: "about#_about_press"}
                = t('dynamic_translations.press.title')
            %li
              %a{href: "about#_ouishare"}
                = t('dynamic_translations.about.ouishare_title')
            / %li.divider
            %li.dropdown
              %a.dropdown-toggle{href: "#"}
                =t('dynamic_translations.past_editions.title')
              %ul.dropdown-submenu
                %li
                  %a{href: "http://2015.ouisharefest.com/"}
                    OuiShare Fest 2015
                %li
                  %a{href: "http://2014.ouisharefest.com/"}
                    OuiShare Fest 2014
                %li
                  %a{href: "http://2013.ouisharefest.com/"}
                    OuiShare Fest 2013

        %li.dropdown
          %a.dropdown-toggle{href: "/program"}
            =t('dynamic_translations.program.title')
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "program#_schedule"}
                = t('dynamic_translations.program.main_schedule')
            %li
              %a{href: "/after_gold_rush"}
                = t('dynamic_translations.goldrush.title')
            %li
              %a{href: "program#_guidelines"}
                = t('dynamic_translations.guidelines.title')
            %li
              %a{href: "/loveparty"}
                = t('dynamic_translations.love_party.title')
            %li
              %a{href: "/openday"}
                Open Day
            %li.dropdown
              %a.dropdown-toggle{href: "/forward"}
                Fest Forward
              %ul.dropdown-submenu
                %li
                  %a{href: "forward#ff_projects"}
                    = t('dynamic_translations.ff_projects.title')
                %li
                  %a{href: "forward#_about"}
                    = t('dynamic_translations.ff_about.title')
                %li
                  %a{href: "forward#_apply"}
                    = t('dynamic_translations.ff_apply.title')
                %li
                  %a{href: "forward#_jury"}
                    = t('dynamic_translations.ff_jury.title')
                %li
                  %a{href: "forward#_experience"}
                    = t('dynamic_translations.ff_experience.title')
                / %li
                /   %a{href: "forward#_vote"}
                /     = t('dynamic_translations.ff_vote.title')

        %li.dropdown
          %a.dropdown-toggle{href: "/participants"}
            =t('dynamic_translations.participants.title')
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "participants#_speakers"}
                = t('dynamic_translations.speakers_attendees.title')
            / %li
            /   %a{href: "participants#featured"}
            /     = t('dynamic_translations.speakers.featured')
            %li
              %a{href: "participants#_team"}
                = t('dynamic_translations.team.title')
            %li
              %a{href: "participants#_curators"}
                = t('dynamic_translations.program.curators')
            %li
              %a{href: "participants#_partners"}
                = t('dynamic_translations.partners.title')
            / %li
            /   %a{href: "participants#_whoscoming"}
            /     = t('dynamic_translations.tickets.who_s_coming')

        %li.dropdown
          %a.dropdown-toggle{href: "/join"}
            =t('dynamic_translations.join.title')
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "join#_tickets"}
                = t('dynamic_translations.tickets.title')
            %li
              %a{href: "join#_getinvolved"}
                = t('dynamic_translations.get_involved.title')
            %li
              %a{href: "join#_press_media"}
                = t('dynamic_translations.tickets.press_media')
            %li.dropdown
              %a.dropdown-toggle{href: "join#_prepare"}
                = t('dynamic_translations.prepare_your_trip.title')
              %ul.dropdown-submenu
                %li
                  %a{href: "/travel_information"}
                    = t('dynamic_translations.travel_information.title')
                %li
                  %a{href: "/where_to_stay"}
                    = t('dynamic_translations.where_to_stay.title')
                %li
                  %a{href: "/getting_to_the_venue"}
                    = t('dynamic_translations.getting_venue.title')


        %li.tickets-highlight
          %a.highlight{href: "/join#_tickets"}
            =t('dynamic_translations.tickets.title')
        / %li.tickets-highlight
        /   %a.highlight{href: "http://magazine.ouishare.net/tag/ouisharefest/", target: "_blank"}
        /     =t('dynamic_translations.blog.title')
        / %li
        /   %a{href: "http://magazine.ouishare.net/tag/ouisharefest/", target: "_blank"}
        /     =t('dynamic_translations.blog.title')
        %li.dropdown
          %a.dropdown-toggle{href: "/media"}
            =t('dynamic_translations.media.title')
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "media#news"}
                = t('dynamic_translations.blog.title')
            %li
              %a{href: "media#bestof"}
                = t('dynamic_translations.video.section_title')
            %li
              %a{href: "media#radio"}
                = t('dynamic_translations.radio.title')
            %li
              %a{href: "http://stories.ouisharefest.com", target: "_blank"}
                = t('dynamic_translations.stories.title')
        %li.hidden-sm
          .text-center.social-media-icons-header
            %a{href: "https://www.facebook.com/OuiShare", target: "_blank"}
              %img{src: "/assets/BT-facebook.png", width: "24px", :style => "margin-top:-10px;"}/
            %a{href: "https://twitter.com/OuiShareFest", target: "_blank"}
              %img{src: "/assets/BT-twitter.png", width: "24px", :style => "margin-top:-10px;"}/
            %a{href: "https://plus.google.com/+OuishareNet", target: "_blank"}
              %img{src: "/assets/BT-googleplus.png", width: "24px", :style => "margin-top:-10px;"}/
            %a{href: "https://www.youtube.com/user/OuiShareTV", target: "_blank"}
              %img{src: "/assets/BT-youtube.png", width: "24px", :style => "margin-top:-10px;"}/
        %li
          = select_languages

