.navbar.navbar-default.navbar-fixed-top
  .container.special-container-navbar
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.nopadding{href: root_path}
        = image_tag "/assets/osf16-header-white.svg", :class => "header-logo"

    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        / %li
        /   %a{href: "#_about"}
        /     =t('dynamic_translations.about.title')


        %li.dropdown
          %a.dropdown-toggle{href: "/about"}
            =t('dynamic_translations.about.title')
            / %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "about#_about"}
                = t('dynamic_translations.about.the_event')
            %li
              %a{href: "about#_key_topics"}
                = t('dynamic_translations.topics.title')
            %li
              %a{href: "/zero_waste_event"}
                = t('dynamic_translations.zerowaste.title_nav')
            %li
              %a{href: "about#_radio"}
                = t('dynamic_translations.radio.title')
            %li
              %a{href: "about#_about_press"}
                = t('dynamic_translations.press.title')
            %li
              %a{href: "about#_ouishare"}
                = t('dynamic_translations.about.ouishare_title')
            %li.dropdown
              %a.dropdown-toggle{href: "#"}
                =t('dynamic_translations.past_editions.title')
              %ul.dropdown-menu
                %li
                  %a{href: "http://2015.ouisharefest.com/"}
                    = t('dynamic_translations.past_editions.fest_2015')
                %li
                  %a{href: "http://2014.ouisharefest.com/"}
                    = t('dynamic_translations.past_editions.fest_2014')
                %li
                  %a{href: "http://2013.ouisharefest.com/"}
                    = t('dynamic_translations.past_editions.fest_2013')

        / %li.dropdown
        /   %a.dropdown-toggle{href: "#"}
        /     Past editions
        /     / =t('dynamic_translations.past_editions.title')
        /   %ul.dropdown-menu
        /     %li
        /       %a{href: "http://2015.ouisharefest.com/"}
        /         = t('dynamic_translations.past_editions.fest_2015')
        /     %li
        /       %a{href: "http://2014.ouisharefest.com/"}
        /         = t('dynamic_translations.past_editions.fest_2014')
        /     %li
        /       %a{href: "http://2013.ouisharefest.com/"}
        /         = t('dynamic_translations.past_editions.fest_2013')

        %li.dropdown
          %a.dropdown-toggle{href: "/program"}
            =t('dynamic_translations.program.title')
          %ul.dropdown-menu
            %li
              %a{href: "program#_schedule"}
                = t('dynamic_translations.program.main_schedule')
            %li
              %a{href: "program#_awards"}
                = t('dynamic_translations.ouishare_awards.see_2015_awards_winners')
            %li
              %a{href: "/after_gold_rush"}
                = t('dynamic_translations.goldrush.title')
            / %li
            /   %a{href: "program#_tracks"}
            /     = t('dynamic_translations.track.title')
            / %li
            /   %a{href: "program#_track_leader"}
            /     = t('dynamic_translations.track_leader.title')
            / %li
            /   %a{href: "program#_petit_fest"}
            /     = t('dynamic_translations.petit_fest.title')
            / %li
            /   %a{href: "/satellite_events"}
            /     = t('dynamic_translations.program.satellite_events')
            / %li
            /   %a{href: "program#_love_party"}
            /     = t('dynamic_translations.love_party.title')

        %li.dropdown
          %a.dropdown-toggle{href: "/participants"}
            =t('dynamic_translations.participants.title')
          %ul.dropdown-menu
            %li
              %a{href: "participants#_team"}
                = t('dynamic_translations.team.title')
            %li
              %a{href: "participants#_partners"}
                = t('dynamic_translations.partners.title')
            %li
              %a{href: "participants#_whoscoming"}
                = t('dynamic_translations.tickets.who_s_coming')

        / %li.dropdown
        /   %a.dropdown-toggle{href: "/participants"}
        /     =t('dynamic_translations.participants.title')
        /   %ul.dropdown-menu
        /     %li
        /       %a{href: "participants#_speakers"}
        /         = t('dynamic_translations.speakers.title')
        /     %li
        /       %a{href: "participants#_team"}
        /         = t('dynamic_translations.team.title')
        /     %li
        /       %a{href: "participants#_partners"}
        /         = t('dynamic_translations.partners.title')
        /     %li
        /       %a{href: "participants#_whoscoming"}
        /         = t('dynamic_translations.tickets.who_s_coming')


        %li.blog-highlight.dropdown
          %a.dropdown-toggle.highlight{href: "/join"}
            =t('dynamic_translations.join.title')
          %ul.dropdown-menu
            %li
              %a{href: "join#_tickets"}
                = t('dynamic_translations.tickets.title')
            %li
              %a{href: "join#_getinvolved"}
                = t('dynamic_translations.get_involved.title')
            %li
              %a{href: "join#_press_media"}
                = t('dynamic_translations.tickets.press_media')
            %li
              %a{href: "join#_prepare"}
                = t('dynamic_translations.prepare_trip.title')
        /     %li
        /       %a{href: "/#_speakers"}
        /         =t('dynamic_translations.speakers.title')
        /     %li
        /       %a{href: "/#_getinvolved"}
        /         =t('dynamic_translations.get_involved.title')
        /     %li
        /       %a{href: "/#_partners"}
        /         =t('dynamic_translations.partners.title')
        /     %li
        /       %a{href: "/#_team"}
        /         =t('dynamic_translations.team.title')
        / %li.tickets-highlight.dropdown
        /   %a.dropdown-toggle.highlight{href: "/join#_tickets"}
        /     =t('dynamic_translations.tickets.title')
        %li.tickets-highlight
          %a.highlight{href: "/join#_tickets"}
            =t('dynamic_translations.tickets.title')
        / %li.tickets-highlight
        /   %a.highlight{href: "http://magazine.ouishare.net/tag/ouisharefest/", target: "_blank"}
        /     =t('dynamic_translations.blog.title')
        %li
          %a{href: "http://magazine.ouishare.net/tag/ouisharefest/", target: "_blank"}
            =t('dynamic_translations.blog.title')
        %li
          .text-center.social-media-icons-header
            %a{href: "https://www.facebook.com/OuiShare", target: "_blank"}
              %img{src: "/assets/BT-facebook.png", width: "24px", :style => "margin-top:-10px;"}/
            %a{href: "https://twitter.com/OuiShareFest", target: "_blank"}
              %img{src: "/assets/BT-twitter.png", width: "24px", :style => "margin-top:-10px;"}/
            %a{href: "https://plus.google.com/+OuishareNet", target: "_blank"}
              %img{src: "/assets/BT-googleplus.png", width: "24px", :style => "margin-top:-10px;"}/
            %a{href: "https://www.youtube.com/user/OuiShareTV", target: "_blank"}
              %img{src: "/assets/BT-youtube.png", width: "24px", :style => "margin-top:-10px;"}/
        %li
          = select_languages

